
/* easy-chart-builder.css */

/* 1 */ .easyChartBuilder{margin:0 5px 10px}.easyChartBuilder .easyChartDataTable{margin:1px auto;padding:2px;border:1px;outline:5px;font-size:100%;vertical-align:baseline;border-collapse:separate;border-spacing:1px;border-color:#AAA;border-style:solid;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border-bottom:1px solid #ddd;border-right:1px solid #aaa;border-left:1px solid #ccc;border-top:1px solid #e4e4e4}

/* jquery.ui.all.min.css */

/* 1 */ /*!
/* 2 *|  * jQuery UI CSS Framework 1.8.22
/* 3 *|  *
/* 4 *|  * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
/* 5 *|  * Dual licensed under the MIT or GPL Version 2 licenses.
/* 6 *|  * http://jquery.org/license
/* 7 *|  *
/* 8 *|  * http://docs.jquery.com/UI/Theming
/* 9 *|  */.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{zoom:1}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}#ui-datepicker-div{display:none;box-shadow:0 1px 4px #999}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%}.ui-datepicker{width:100%;max-width:280px;background:#fff!important;margin-bottom:0}.ui-datepicker .ui-datepicker-header{position:relative;background:#fff;border:1px solid #ccc;padding:5px;margin-bottom:0!important}.ui-datepicker .ui-datepicker-header .ui-datepicker-prev{position:absolute;top:8px;left:6px;width:20px;height:20px;background:url(/wp-content/plugins/Tevolution/css/datepicker/images/cal_arrow.png) no-repeat 0 0}.ui-datepicker .ui-datepicker-header .ui-datepicker-next{position:absolute;top:8px;right:6px;width:20px;height:20px;background:url(/wp-content/plugins/Tevolution/css/datepicker/images/cal_arrow.png) no-repeat 0 -20px}.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover,.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover{opacity:.7}.ui-datepicker .ui-datepicker-header .ui-datepicker-title{font-weight:700;text-align:center}.ui-datepicker-calendar{font-size:12px;line-height:18px;margin:0;width:100%}.ui-datepicker-calendar caption{background-color:#0165BD;font-size:18px;color:#fff;padding:10px}.ui-datepicker-calendar th{background-color:#333;color:#fff;padding:10px 5px 8px!important}.ui-datepicker-calendar th,.ui-datepicker-calendar td{text-align:center;padding:6px 5px 5px}.ui-datepicker-calendar th{font-weight:400}
