
/* jquery.lightbox.css */

/* 1   */ /**
/* 2   *|  * jQuery lightBox plugin
/* 3   *|  * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
/* 4   *|  * and adapted to me for use like a plugin from jQuery.
/* 5   *|  * @name jquery-lightbox-0.5.css
/* 6   *|  * @author Leandro Vieira Pinho - http://leandrovieira.com
/* 7   *|  * @version 0.5
/* 8   *|  * @date April 11, 2008
/* 9   *|  * @category jQuery plugin
/* 10  *|  * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
/* 11  *|  * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
/* 12  *|  * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
/* 13  *|  */
/* 14  */ #jquery-overlay {
/* 15  */ 	position: absolute;
/* 16  */ 	top: 0;
/* 17  */ 	left: 0;
/* 18  */ 	z-index: 10000;
/* 19  */ 	width: 100%;
/* 20  */ 	height: 500px;
/* 21  */ }
/* 22  */ #jquery-lightbox {
/* 23  */ 	position: absolute;
/* 24  */ 	top: 0;
/* 25  */ 	left: 0;
/* 26  */ 	width: 100%;
/* 27  */ 	z-index: 10010;
/* 28  */ 	text-align: center;
/* 29  */ 	line-height: 0; 
/* 30  */ }
/* 31  */ #lightbox-container-image-box { max-width: 96%; height: auto !important; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; }
/* 32  */ #lightbox-container-image-data-box { max-width: 96%; height: auto; }
/* 33  */ #lightbox-container-image img { max-width: 100%; }
/* 34  */ #jquery-lightbox a img { max-width: 100%; border: none; }
/* 35  */ #lightbox-container-image-box {
/* 36  */ 	position: relative;
/* 37  */ 	background-color: #fff;
/* 38  */ 	width: 250px;
/* 39  */ 	height: 250px;
/* 40  */ 	margin: 0 auto;
/* 41  */ }
/* 42  */ #lightbox-container-image { padding: 10px; }
/* 43  */ #lightbox-loading {
/* 44  */ 	position: absolute;
/* 45  */ 	top: 40%;
/* 46  */ 	left: 0%;
/* 47  */ 	height: 25%;
/* 48  */ 	width: 100%;
/* 49  */ 	text-align: center;
/* 50  */ 	line-height: 0;

/* jquery.lightbox.css */

/* 51  */ }
/* 52  */ #lightbox-nav {
/* 53  */ 	position: absolute;
/* 54  */ 	top: 0;
/* 55  */ 	left: 0;
/* 56  */ 	height: 100%;
/* 57  */ 	width: 100%;
/* 58  */ 	z-index: 10;
/* 59  */ }
/* 60  */ #lightbox-container-image-box > #lightbox-nav { left: 0; }
/* 61  */ #lightbox-nav a { outline: none;}
/* 62  */ #lightbox-nav-btnPrev, #lightbox-nav-btnNext {
/* 63  */ 	width: 49%;
/* 64  */ 	height: 100% !important;
/* 65  */ 	zoom: 1;
/* 66  */ 	display: block;
/* 67  */ }
/* 68  */ #lightbox-nav-btnPrev { 
/* 69  */ 	left: 0; 
/* 70  */ 	float: left;
/* 71  */ }
/* 72  */ #lightbox-nav-btnNext { 
/* 73  */ 	right: 0; 
/* 74  */ 	float: right;
/* 75  */ }
/* 76  */ #lightbox-container-image-data-box {
/* 77  */ 	font: 10px Verdana, Helvetica, sans-serif;
/* 78  */ 	background-color: #fff;
/* 79  */ 	margin: 0 auto;
/* 80  */ 	line-height: 1.4em;
/* 81  */ 	overflow: auto;
/* 82  */ 	width: 100%;
/* 83  */ 	padding: 0 10px 0;
/* 84  */ }
/* 85  */ #lightbox-container-image-data {
/* 86  */ 	padding: 0 10px; 
/* 87  */ 	color: #666; 
/* 88  */ }
/* 89  */ #lightbox-container-image-data #lightbox-image-details { 
/* 90  */ 	width: 70%; 
/* 91  */ 	float: left; 
/* 92  */ 	text-align: left; 
/* 93  */ }	
/* 94  */ #lightbox-image-details-caption { font-weight: bold; }
/* 95  */ #lightbox-image-details-currentNumber {
/* 96  */ 	display: block; 
/* 97  */ 	clear: left; 
/* 98  */ 	padding-bottom: 1.0em;	
/* 99  */ }			
/* 100 */ #lightbox-secNav-btnClose {

/* jquery.lightbox.css */

/* 101 */ 	width: 66px; 
/* 102 */ 	float: right;
/* 103 */ 	padding-bottom: 0.7em;	
/* 104 */ }
/* 105 */ @media only screen and (max-width: 1200px) {  
/* 106 */ #lightbox-container-image-box { width: 92% !important; height: auto !important; }
/* 107 */ #lightbox-container-image-box img { max-width: 100%; }
/* 108 */ #lightbox-container-image-data-box { width: 92% !important; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box;  }
/* 109 */ }
