
/* responsive.css */

/* 1   */ /*responsive device css*/
/* 2   */ @media only screen and (min-width: 1201px) {
/* 3   */ 	.menu li ul,.nav_bg .widget-nav-menu li ul {display: none;}
/* 4   */ 	.hide-for-large-up {display: none;}
/* 5   */ 	.show-to-medium { display: none;}
/* 6   */ 	body.tevolution-directory #listing_description .listing_content { width:61% }
/* 7   */ 	body.tevolution-directory #listing_description .entry-header-image { width:35% }
/* 8   */ }	
/* 9   */ @media only screen and (max-width:1200px) {
/* 10  */ 
/* 11  */ 	.header-widget-wrap{ float: left; width: 100%;}
/* 12  */ 	body .left-off-canvas-menu .mega-menu ul.mega li .sub-container.mega .sub, body .right-off-canvas-menu .mega-menu ul.mega li .sub-container.mega .sub{ background: transparent;}
/* 13  */ 	.primary_menu_wrapper { background:#fff; z-index: 11;}
/* 14  */ 	.sticky_main { display: none !important; }
/* 15  */ 	.menu > ul > li > ul > li,
/* 16  */ 	.menu > ul > li > ul > li > ul > li, 
/* 17  */ 	.menu > ul > li > ul > li > ul > li > ul > li, 
/* 18  */ 	.nav_bg .widget-nav-menu li > ul > li > ul > li, 
/* 19  */ 	.nav_bg .widget-nav-menu li > ul > li > ul > li > ul > li, 
/* 20  */ 	.nav_bg .widget-nav-menu > ul > li > ul > li, 
/* 21  */ 	body .mega-menu ul.mega li .sub-container.non-mega .sub a, 
/* 22  */ 	body .mega-menu ul.mega li .sub-container.non-mega li a, 
/* 23  */ 	body .mega-menu ul.mega li .sub-container.non-mega li.current-menu-item a, 
/* 24  */ 	body .mega-menu ul.mega .sub li.mega-hdr li a, 
/* 25  */ 	div#menu-primary .menu li a{
/* 26  */ 		-webkit-transition:none;
/* 27  */ 		-moz-transition:none;
/* 28  */ 		-ms-transition:none;
/* 29  */ 		-o-transition:none;
/* 30  */ 		transition:none;
/* 31  */ 	}
/* 32  */ 	.menu>ul>li>ul>li:hover>a,.menu>ul>li>ul>li>ul>li:hover>a,
/* 33  */ 	.menu>ul>li>ul>li>ul>li>ul>li:hover>a,
/* 34  */ 	.nav_bg .widget-nav-menu>ul>li>ul>li:hover>a,
/* 35  */ 	.nav_bg .widget-nav-menu>ul>li>ul>li>ul>li:hover>a,
/* 36  */ 	.nav_bg .widget-nav-menu>ul>li>ul>li>ul>li>ul>li:hover>a,
/* 37  */ 	body .all_category_list_widget .category_list ul li:hover a,
/* 38  */ 	body .mega-menu ul.mega li .sub-container.non-mega .sub li:hover a, 
/* 39  */ 	body .mega-menu ul.mega li .sub-container.non-mega li:hover a, 
/* 40  */ 	body .mega-menu ul.mega li .sub-container.non-mega li.current-menu-item:hover a,
/* 41  */ 	body .mega-menu ul.mega .sub li.mega-hdr li:hover a {
/* 42  */ 		-moz-transform: none;
/* 43  */ 		-webkit-transform: none;
/* 44  */ 		-o-transform: none;
/* 45  */ 		-ms-transform: none;
/* 46  */ 		transform: none;
/* 47  */ 	}
/* 48  */ 
/* 49  */ 	/* Off Canvas Navigation */
/* 50  */ 	body .primary_menu_wrapper #menu-primary,#header #nav-secondary{ display: none;}

/* responsive.css */

/* 51  */ 	body .left-off-canvas-menu .sub-indicator{ display: none;}
/* 52  */ 	body .left-off-canvas-menu > div{ width: 100%; display: inline-block; padding: 0; margin: 0;}
/* 53  */ 	body .left-off-canvas-menu ul{ display: inline-block; width: 100%; max-width: 100%; position: initial !important; z-index: 1; visibility:visible; margin: 0!important; padding: 0!important; visibility: visible!important;}
/* 54  */ 	body .left-off-canvas-menu ul li{ display: inline-block; width: 100%!important; margin: 0!important; padding: 0!important;}
/* 55  */ 	body .left-off-canvas-menu ul li a,body .left-off-canvas-menu .mega-menu ul.mega li .sub li.mega-hdr li a, body .right-off-canvas-menu .mega-menu ul.mega li .sub li.mega-hdr li a,ul.off-canvas-list li a, body .left-off-canvas-menu .nav_bg ul.mega li a, body .right-off-canvas-menu .nav_bg ul.mega li a, div#menu-mobi-secondary .menu .off-canvas-list li a, div#menu-mobi-secondary1 .menu .off-canvas-list li a, div#menu-subsidiary .menu .off-canvas-list li a, body .left-off-canvas-menu div#menu-mobi-primary .menu > ul > li > a, body .right-off-canvas-menu div#menu-mobi-primary .menu > ul > li > a{ display: inline-block; width: 100%; color: #fff!important; font-size: 15px!important; font-weight: normal!important; padding:7px!important; background: transparent; transition: none!important; color: #FFF!important; transform: none!important;}
/* 56  */ 	body .left-off-canvas-menu ul li ul li,body .left-off-canvas-menu ul li ul li:hover{ padding-left:15px!important; background:rgba(0, 0, 0, 0)!important;}
/* 57  */ 	body .left-off-canvas-menu ul li a:hover,ul.off-canvas-list li a:hover, body .left-off-canvas-menu .nav_bg ul.mega li a:hover, body .right-off-canvas-menu .nav_bg ul.mega li a:hover, div#menu-mobi-secondary .menu .off-canvas-list li a:hover, div#menu-mobi-secondary1 .menu .off-canvas-list li a:hover, div#menu-subsidiary .menu .off-canvas-list li a:hover, body .left-off-canvas-menu div#menu-mobi-primary .menu li a:hover, body .right-off-canvas-menu div#menu-mobi-primary .menu li a:hover{ background: transparent; transition: none!important; color: #FFF!important;}
/* 58  */ 	body .left-off-canvas-menu .sub-container{ width: 100%!important; display: inline-block; max-width: 100%; position: initial !important;}
/* 59  */ 	body .left-off-canvas-menu .sub-container .row{ max-width: 100%; width: 100%;}
/* 60  */ 	body .left-off-canvas-menu ul li.current-menu-item > a,body .left-off-canvas-menu ul li ul li.current-menu-item > a,ul.off-canvas-list li a:hover, body .left-off-canvas-menu .nav_bg ul.mega li a:hover, body .right-off-canvas-menu .nav_bg ul.mega li a:hover, div#menu-mobi-secondary .menu .off-canvas-list li a:hover, div#menu-mobi-secondary1 .menu .off-canvas-list li a:hover, div#menu-subsidiary .menu .off-canvas-list li a:hover, body .left-off-canvas-menu div#menu-mobi-primary .menu li a:hover, body .right-off-canvas-menu div#menu-mobi-primary .menu li a:hover{background: rgba(0,0,0,0.2)!important;}
/* 61  */ 
/* 62  */ 	#main .wrap.row { padding-top: 20px; }
/* 63  */ 	#main { padding-top: 0px !important;}
/* 64  */ 	#branding,#branding1{display:none;}
/* 65  */ 	.city_image{background-image:none;}
/* 66  */ 	.d_location_type_navigation .toggle_handler{right:40px;}
/* 67  */ 	div.d_location_type_horizontal .toggle_handler{right:0;}
/* 68  */ 
/* 69  */ 	.mobile-search { color: #0665BD; padding: 15px; }
/* 70  */ 
/* 71  */ 	.header-wrap .large-8.columns { width: 100%; }
/* 72  */ 	.header-wrap #sidebar-header .search_nearby_widget #searchform { text-align: center; }
/* 73  */ 	.header-wrap #sidebar-header { max-width: 100%; }
/* 74  */ 	.header-wrap #sidebar-header .search_nearby_widget #searchform { margin:15px 0; }
/* 75  */ 	.header-wrap #sidebar-header .search_nearby_widget.search_by_mile_active #searchform select { margin-right: 1.5%; }
/* 76  */ 	.overlay-search { position: relative; }
/* 77  */ 	.overlay-search:before {  background: rgba(0,0,0,0.5); position: absolute; top: 0; right: 0; left: 0; right: 0; content: ""; height: 100%; width: 100%; z-index: 999; }
/* 78  */ 	.breadcrumb { display: none;}
/* 79  */ 	#container .mega-menu { display: none; } 
/* 80  */ 	.header-widget-wrap{ padding: 0;}
/* 81  */ }
/* 82  */ @media screen and (max-width: 1200px){
/* 83  */ 	body .large-8.columns .header-widget-wrap{
/* 84  */ 		display: block;
/* 85  */ 	}
/* 86  */ 	body .large-8.columns .header-widget-wrap{
/* 87  */ 		display: none;
/* 88  */ 	}
/* 89  */ 	body .large-8.columns .header-widget-wrap .widget.widget_glt_widget{
/* 90  */ 		display: block;
/* 91  */ 	}
/* 92  */ 	body .large-8.columns .header-widget-wrap .widget.widget_glt_widget .widget-wrap > *{ display: none;}
/* 93  */ 	body .large-8.columns .header-widget-wrap .widget.widget_glt_widget .widget-wrap > #glt-translate-trigger{ display: block;}
/* 94  */ 	.move-right .left-off-canvas-menu{opacity: 1;}
/* 95  */ }
/* 96  */ @media only screen and (max-width:1023px) {
/* 97  */ 	.tevolution-event-manager #main .sidebar { width:100%; float:left; margin-left: 0;}
/* 98  */ }
/* 99  */ @media only screen and (min-width :40.063em) {
/* 100 */ 	.move-left .exit-off-canvas:hover{background:rgba(255,255,255,0.05);}

/* responsive.css */

/* 101 */ 	.tab-bar-section{text-align:left;}
/* 102 */ }
/* 103 */ @media only screen and (min-width: 1400px) { dialog.tmpl_login_frm_data, .reveal-modal.tmpl_login_frm_data { margin-left: -15%;  width: 27%;} }
/* 104 */ @media only screen and (min-width: 980px) and (max-width: 1399px) { dialog.tmpl_login_frm_data, .reveal-modal.tmpl_login_frm_data { margin-left: -15%;  width: 38%;} }
/* 105 */ @media only screen and (max-width:980px) {
/* 106 */ 	#branding,#branding1{float:none;margin:0 auto;}
/* 107 */ 	.nav_bg .widget-nav-menu li li a:hover,body .mega-menu .nav_bg,body .mega-menu ul.mega li .sub-container.non-mega .sub a:hover,body .mega-menu ul.mega li .sub-container.non-mega li a:hover,body .mega-menu ul.mega li .sub-container.non-mega li.current-menu-item a,body .mega-menu ul.mega li a,div#menu-mobi-secondary .menu li a:hover,div#menu-mobi-secondary .menu li li a:hover,div#menu-mobi-secondary .menu li li:hover>a,div#menu-mobi-secondary1 .menu li a:hover,div#menu-mobi-secondary1 .menu li li a:hover,div#menu-mobi-secondary1 .menu li li:hover>a,div#menu-subsidiary .menu li a:hover,div#menu-subsidiary .menu li li a:hover{background-color:transparent!important;}
/* 108 */ 	body .mega-menu ul.mega li{border-bottom:1px solid #222;}
/* 109 */ 	body .mega-menu ul.mega li li{border:none;}
/* 110 */ 	body .mega-menu ul.mega li a{font-size:14px;font-weight:400;padding:7px 0 8px;}
/* 111 */ 	body .mega-menu ul.mega li .sub-container.non-mega .sub a:hover,body .mega-menu ul.mega li .sub-container.non-mega li a:hover,body .mega-menu ul.mega li .sub-container.non-mega li.current-menu-item a{background:0 0;}
/* 112 */ 	body .mega-menu ul.mega li a,div#menu-mobi-primary .menu li a,div#menu-mobi-secondary .menu li a,div#menu-mobi-secondary1 .menu li a{color:#fff!important;}
/* 113 */ 	body #listpagi .pagination a{margin-bottom:5px;}
/* 114 */ 	body.directory-single-page #listing_description .entry-header-image img,body.tevolution-directory #listing_description .entry-header-image,body.tevolution-directory #listing_description .listing_content{width:100%;}
/* 115 */ 	.singular .pos_navigation .post_right a, .singular .pos_navigation .post_left a { font-size: 0; padding: 4px 16px 1px;}
/* 116 */ 	.singular .pos_navigation .post_right a i, .singular .pos_navigation .post_left a i{ margin: 0; padding: 0; line-height: 1.5;}
/* 117 */ 	body.tevolution-event-manager .preview_submit_from_data .get_direction .b_getdirection { width: 48px; padding:10px 16px 9px; margin-right: 10px;}
/* 118 */ 	div.footer_widget_wrap .widget{ width:auto; float: none; display: block;}
/* 119 */ }
/* 120 */ 
/* 121 */ @media only screen and (max-width:679px) {
/* 122 */ 	.tevolution-directory .ui-widget-header li a,body.tevolution-directory .ui-widget-header .ui-state-active a:link,body.tevolution-directory .ui-widget-header .ui-state-active a:visited,body.tevolution-event-manager .ui-widget-header .ui-state-active a{border-color:rgba(0,0,0,.13)!important;}
/* 123 */ 	body .widget{margin-bottom:20px;}
/* 124 */ 	.widget_loop_taxonomy.grid .post{width:46.6%;}
/* 125 */ 	.twp_search_cont input[type=text]{margin-bottom:5px;}
/* 126 */ 	.header-wrap #sidebar-header .search_nearby_widget #searchform input[type="text"] { width: 100% !important; }
/* 127 */ 	.cont_wid_area { margin-top: 15px; }
/* 128 */ 	.event-organizer .event-organizer-left + .event-organizer-right { margin-left: 0px;  }
/* 129 */ 	.event-single-page .hentry .entry-header-title .entry-header-custom-wrap { margin-top: 10px; }
/* 130 */ 	.event-single-page .hentry .entry-header-title .entry-header-custom-wrap .entry-header-custom-left { margin-bottom: 0; }
/* 131 */ 	.grid .post, .grid div[id*="post"]{ margin-right: 3%;}
/* 132 */ }
/* 133 */ @media only screen and (min-width:481px) {
/* 134 */ 	#loop_event_archive.list .event-wrapper, #loop_event_taxonomy.list .event-wrapper,#loop_listing_archive.list .event-wrapper, #loop_listing_taxonomy.list .event-wrapper,.user .hfeed .date + .listing-wrapper,.list .date + .listing-wrapper,.list .date + .event-wrapper,.list .date ~ .entry-summary,.list .date ~ .entry-details,.list .date ~ .event-title,.list .date ~ p	{ overflow: hidden; word-wrap:break-word; padding-left: 0; }
/* 135 */ 	div#tmpl-search-results.list .event-wrapper .entry-title-wrapper, div#tmpl-search-results.list .event-wrapper .entry-details, .user div.event-wrapper .entry-title-wrapper, .user div.event-wrapper .entry-details {padding-left: 0;}
/* 136 */ }
/* 137 */ @media only screen and (max-width:480px) {
/* 138 */ 	body { font-size: 13px; line-height: 1.4; }
/* 139 */ 	p { line-height: 1.4 }
/* 140 */ 	body h1.loop-title, body h1.page-title, body h1 { margin-bottom: 0; line-height: 1.4; font-size: 20px; }
/* 141 */ 	h1 + [class*="rating"] { display: block; }
/* 142 */ 	body h2 { font-size: 18px; line-height: 1.4; }
/* 143 */ 	.entry-header-custom-wrap { margin: 5px 0; }
/* 144 */ 	.directory-single-page .hentry .entry-header-title .entry-header-custom-wrap .entry-header-custom-left { margin-bottom: 0; }
/* 145 */ 	.hfeed { margin-bottom: 15px; }
/* 146 */ 	.list .post .entry p, .grid .post .entry p, .list .hentry p, .entry-details p { line-height: 1.4; }
/* 147 */ 	#loop_listing_archive.grid,#loop_listing_taxonomy.grid{margin-left:0;}
/* 148 */ 	#loop_event_archive.grid,#loop_event_taxonomy.grid{margin-left:0;}
/* 149 */ 	#submit_form .end_date,#submit_form .end_time,#submit_form .st_date,#submit_form .st_time{width:100%;}
/* 150 */ 	.widget_loop_taxonomy.grid,.widget_loop_taxonomy.grid .widget_loop_taxonomy_wrap{margin-left:0;}

/* responsive.css */

/* 151 */ 	.widget_loop_taxonomy.grid .post{width:100%;border-bottom:1px solid rgba(0,0,0,.1);border-bottom:1px solid #ccc \0/;margin:0 0 10px;}
/* 152 */ 	.widget_loop_taxonomy.grid .post:last-child{border:none;}
/* 153 */ 	#comments .comment-list li ol.children { padding-left: 0; }	
/* 154 */ 
/* 155 */ 	.list .entry h2.entry-title + [class*="rating"]{ position: inherit; width: 100%; display: inline-block;}
/* 156 */ 	.average_rating .fa-stack { top: 0; }
/* 157 */ 	body.tevolution-event-manager .preview_submit_from_data .get_direction .b_getdirection {  margin-right: 5px; display: inline-block;}
/* 158 */ 	.preview_submit_from_data .google-map-directory input[type="text"] { max-width: 150px; display: inline-block; margin-right: 5px!important; }
/* 159 */ 
/* 160 */ 	#loop_listing_archive .post .listing_img img,#loop_listing_archive.list .post .entry,#loop_listing_taxonomy .post .listing_img img,#loop_listing_taxonomy.list .post .entry,#tmpl-search-results.list .hentry .listing_img img,#tmpl-search-results.list .hentry .entry,body.user #content .hentry .listing_img img,body.user #content .hentry .entry,.hfeed .post .entry,body.user #content .author_cont div[id*=post] .listing_img img,body.user #content .author_cont div[id*=post] .entry{width:100%;margin-left:0;}
/* 161 */ 	#loop_event_archive.list .post .entry .event_rating,#loop_event_archive.list .post .entry h2,#loop_event_taxonomy.list .post .entry .event_rating,#loop_event_taxonomy.list .post .entry h2{float:none;width:100%;padding-left:0;}
/* 162 */ 	.widget_loop_event .list .rev_pin,#loop_event_archive.list .rev_pin{padding-left:0;}
/* 163 */ 	#cities_post .post .listing_img{width:100%;margin:0 0 10px;}
/* 164 */ 	#cities_post .post .entry{width:100%;margin-left:0;}
/* 165 */ 	#cities_post .post .listing_img img{width:100%;}
/* 166 */ 	.list .post .event_img,.list .post .entry,.grid .post .event_img,.grid .post .entry{width:100%;max-width:none;margin:0 0 10px;}
/* 167 */ 	#loop_listing_archive.list .post .entry h2,#loop_listing_taxonomy.list .post .entry h2,#tmpl-search-results.list .hentry .entry h2,.user #content .hentry .entry h2{float:none;width:100%;max-width:none;margin-right:0;}
/* 168 */ 	#loop_listing_archive.list .post .entry .listing_rating,#loop_listing_taxonomy.list .post .entry .listing_rating,#tmpl-search-results.list .hentry .entry .listing_rating,.user #content .hentry .entry .listing_rating,.user #content .author_cont div[id*=post] .listing_rating{float:none;width:100%;}
/* 169 */ 	.list .entry h2.entry-title + div[class*="rating"]{ position: inherit;}
/* 170 */ 	.widget_loop_event .list .post .entry .date,#loop_event_archive.list .post .entry .date,#loop_event_taxonomy.list .post .entry .dates{background:0 0;color:#000;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;text-align:left;padding-left:10px;margin-bottom:10px;}
/* 171 */ 	.widget_loop_event .list .post .entry .date span{display:inline;font-size:16px;}
/* 172 */ 	.widget_loop_event .list .post .entry .date span,#loop_event_archive.list .post .entry .date span,#loop_event_taxonomy.list .post .entry .date span,#tmpl-search-results .date span,.user .hfeed .date span{display:inline;}
/* 173 */ 	.widget_loop_event .list .post .entry .date,#loop_event_archive.list .post .entry .date,#loop_event_taxonomy.list .post .entry .date,#tmpl-search-results .date,.user .hfeed .date{font-size:16px;font-weight:bold;}
/* 174 */ 	#loop_event_archive.list .entry-details,#loop_event_taxonomy.list .entry-details,#loop_listing_archive.list .event-wrapper,#loop_listing_taxonomy.list .event-wrapper,.user .hfeed .date + .listing-wrapper,#tmpl-search-results .date + .listing-wrapper,#tmpl-search-results .date + .listing-wrapper + .entry-summary{padding-left:0;}
/* 175 */ 	.event-single-page .hentry .entry-header-title .entry-header-custom-wrap p label{width:100%;}
/* 176 */ 	.event-single-page .hentry .entry-header-title .entry-header-custom-wrap p span{width:100%;margin-left:0;}
/* 177 */ 	.event-organizer .event-organizer-right p{margin-bottom:12px;}
/* 178 */ 	.event-organizer .event-organizer-right label{display:block;width:100%;margin:0 0 5px;}
/* 179 */ 	.event-organizer .event-organizer-right span.label_data{display:block;width:100%;margin:0;}
/* 180 */ 	#loop_event_atteding_list .post .event_img{width:100%;max-width:none;margin-bottom:10px;}
/* 181 */ 	#loop_event_atteding_list .post .event_img img,#loop_event_atteding_list.list .post .entry{width:100%;}
/* 182 */ 	#loop_event_atteding_list.list .post .entry .listing_rating,#loop_event_atteding_list.list .post .entry h2{float:none;width:100%;}
/* 183 */ 	#loop_event_atteding_list.list .post .entry .date,.user .hfeed .date,#tmpl-search-results .date{background:0 0;color:#000;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;text-align:left;padding-left:10px;margin-bottom:10px;}
/* 184 */ 	#loop_event_atteding_list.list .post .entry .date span,.user .hfeed .date span,#tmpl-search-results .date span{display:inline;}
/* 185 */ 	.widget_loop_taxonomy.grid .widget_loop_taxonomy_wrap{margin-left:0;}
/* 186 */ 	.widget_loop_taxonomy.grid .post{width:100%;border-bottom:1px solid rgba(0,0,0,.1);border-bottom:1px solid #ccc \0/;margin:0 0 10px;}
/* 187 */ 	.widget_loop_taxonomy.grid .post:last-child{border:none;}
/* 188 */ 	.author_price_details p{width:100%!important;}
/* 189 */ 	.directory-single-page .view_counter,.event-single-page .view_counter{margin-top:6px;}
/* 190 */ 	body .widget.listing_post .post[class*="format-"]{ width: 100%; display: inline-block; padding: 0 0 13px;}
/* 191 */ 	.widget.listing_post .post .entry-header{width:100%;margin-left:0;}
/* 192 */ 	.widget.listing_post .post .post-blog-image{width:100%;}
/* 193 */ 	.widget.listing_post .post .post-blog-image img{width:100%;}
/* 194 */ 	div[id*="_property"].list .post div[class*="_img"], .user #content div[id*="_property"].list .hentry div[class*="_img"], div[id*="_property"].list .hentry div[class*="_img"] { width: 100%; }
/* 195 */ 	body #loop_property_taxonomy.list .post .property_img, body #tmpl-search-results.list .post .property_img { width: 100%; }
/* 196 */ 	.social_media ul li{ width: 100%;}
/* 197 */ 	.tevolution-directory .get_direction .b_getdirection{ width: 44%; padding: 10px 0;}
/* 198 */ 	.ajax-file-upload-progress{ max-width: 100%;}
/* 199 */ 	body .author_cont .author_photo img{ max-width: 100%;}
/* 200 */ 	.list .post[class*="property"] div[class*="_img"]{width: 100%;}

/* responsive.css */

/* 201 */ }
/* 202 */ 
/* 203 */ @media only screen and (max-width:360px) {
/* 204 */ 	body #loop_listing_archive.grid .post, body #loop_listing_taxonomy.grid .post { width: 100%; margin-left: 0; padding: 0; display: inline-block;}
/* 205 */ 	#loop_listing_archive.grid, #loop_listing_taxonomy.grid { margin-left: 0; }
/* 206 */ 	.large-8.columns #sidebar-header .widget { margin: 30px 0; }
/* 207 */ 	.large-8.columns .header-widget-wrap { display: none; }
/* 208 */ 	body.tevolution-directory .get_direction a.b_getdirection{ width: 100%; padding: 10px 0; margin: 0 0 5px 0;}
/* 209 */ }
/* 210 */ @media only screen and (max-width:320px) {
/* 211 */ 	.all_category_list_widget .category_list_wrap{margin-left:0;}
/* 212 */ 	.all_category_list_widget .category_list{width:100%;margin:10px 0;}
/* 213 */ 	.event_manager_tab #event_sorting{margin:0 0 5px;}
/* 214 */ 	ul.sorting_option li{width:100%;display:block;margin-right:0;}
/* 215 */ 	article .entry-header .author_rating,#loop_listing_archive.list .post .entry .listing_rating,#loop_listing_taxonomy.list .post .entry .listing_rating{float:left;width:100%;}
/* 216 */ 	#branding,#branding1{width:72%;}
/* 217 */ 	#site-title img,#site-title1 img{max-width:100%;width:100%;}
/* 218 */ 	#site-description{font-size:14px;}
/* 219 */ 	body.singular .pos_navigation .post_left,body.singular .pos_navigation .post_right{max-width:100%;width:100%;}
/* 220 */ 	.pos_navigation .post_right{text-align:right;}
/* 221 */ 	.pos_navigation .post_right i{display:none!important;}
/* 222 */ 	.pe_advsearch_form #toggle_postID{max-height:190px;}
/* 223 */ }

/* advanced-recent-posts-widget.css */

/* 1  */ /*
/* 2  *| Default CSS Styles for the advanced recent post widget plug-in
/* 3  *| Version 3.0.0
/* 4  *| */
/* 5  */ .advanced_recent_posts_widget * {
/* 6  */ 	margin:0;
/* 7  */ 	padding:0;
/* 8  */ }
/* 9  */ .advanced_recent_posts_widget {
/* 10 */ 	font-size: 12px;	
/* 11 */ 	line-height: 18px;
/* 12 */ }
/* 13 */ .advanced_recent_posts_widget .post-title{
/* 14 */ 	font-size: 12px;	
/* 15 */ 	font-weight:bold;
/* 16 */ }
/* 17 */ .advanced_recent_posts_widget .post-date{
/* 18 */ 	font-style:italic;
/* 19 */ }
/* 20 */ 
/* 21 */ .advanced_recent_posts_widget img{
/* 22 */ 	float:left;
/* 23 */ 	margin-right:10px;
/* 24 */ 	margin-top:5px;
/* 25 */ }
/* 26 */ .advanced_recent_posts_widget ul li{
/* 27 */ 	list-style: none;
/* 28 */ 	list-style-type: none;
/* 29 */ 	margin: 3px 0;
/* 30 */ 	padding: 3px 0;
/* 31 */ 	border-bottom:1px solid #ccc;
/* 32 */ }
/* 33 */ .advanced_recent_posts_widget .more-link{
/* 34 */ 	display:inline;
/* 35 */ }
/* 36 */ .advanced_recent_posts_widget .post-entry{ 
/* 37 */    padding:0 0 5px 0;
/* 38 */    overflow:hidden;
/* 39 */ }

/* easy-chart-builder.css */

/* 1 */ .easyChartBuilder{margin:0 5px 10px}.easyChartBuilder .easyChartDataTable{margin:1px auto;padding:2px;border:1px;outline:5px;font-size:100%;vertical-align:baseline;border-collapse:separate;border-spacing:1px;border-color:#AAA;border-style:solid;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border-bottom:1px solid #ddd;border-right:1px solid #aaa;border-left:1px solid #ccc;border-top:1px solid #e4e4e4}

/* jquery.ui.all.min.css */

/* 1 */ /*!
/* 2 *|  * jQuery UI CSS Framework 1.8.22
/* 3 *|  *
/* 4 *|  * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
/* 5 *|  * Dual licensed under the MIT or GPL Version 2 licenses.
/* 6 *|  * http://jquery.org/license
/* 7 *|  *
/* 8 *|  * http://docs.jquery.com/UI/Theming
/* 9 *|  */.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{zoom:1}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}#ui-datepicker-div{display:none;box-shadow:0 1px 4px #999}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%}.ui-datepicker{width:100%;max-width:280px;background:#fff!important;margin-bottom:0}.ui-datepicker .ui-datepicker-header{position:relative;background:#fff;border:1px solid #ccc;padding:5px;margin-bottom:0!important}.ui-datepicker .ui-datepicker-header .ui-datepicker-prev{position:absolute;top:8px;left:6px;width:20px;height:20px;background:url(/wp-content/plugins/Tevolution/css/datepicker/images/cal_arrow.png) no-repeat 0 0}.ui-datepicker .ui-datepicker-header .ui-datepicker-next{position:absolute;top:8px;right:6px;width:20px;height:20px;background:url(/wp-content/plugins/Tevolution/css/datepicker/images/cal_arrow.png) no-repeat 0 -20px}.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover,.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover{opacity:.7}.ui-datepicker .ui-datepicker-header .ui-datepicker-title{font-weight:700;text-align:center}.ui-datepicker-calendar{font-size:12px;line-height:18px;margin:0;width:100%}.ui-datepicker-calendar caption{background-color:#0165BD;font-size:18px;color:#fff;padding:10px}.ui-datepicker-calendar th{background-color:#333;color:#fff;padding:10px 5px 8px!important}.ui-datepicker-calendar th,.ui-datepicker-calendar td{text-align:center;padding:6px 5px 5px}.ui-datepicker-calendar th{font-weight:400}
