
/* style.css */

/* 1   */ /*  
/* 2   *|  * coupo-style.css
/* 3   *|  * Styling for plugin
/* 4   *|  * 
/* 5   *|  */
/* 6   */  
/* 7   */  #max_range
/* 8   */  {
/* 9   */ 	display: none;
/* 10  */  }
/* 11  */ 
/* 12  */ .search_filter .filter ul li
/* 13  */ {
/* 14  */ 	border-bottom: medium none !important;
/* 15  */ }
/* 16  */ 
/* 17  */ .ver-list-filter.fil-scroll ul {
/* 18  */   max-height: 176px;
/* 19  */     overflow-y: auto;	
/* 20  */ }
/* 21  */ 
/* 22  */ #searchfilterform .ui-slider-horizontal .ui-slider-range {
/* 23  */   height: 100%;
/* 24  */   top: 0;
/* 25  */ }
/* 26  */ 
/* 27  */ #searchfilterform .ui-slider .ui-slider-range {
/* 28  */   background-position: 0 0;
/* 29  */   border: 0 none;
/* 30  */   display: block;
/* 31  */   font-size: 0.7em;
/* 32  */   position: absolute;
/* 33  */   z-index: 1;
/* 34  */ }
/* 35  */ 
/* 36  */ #searchfilterform .ui-slider-horizontal .ui-slider-handle {
/* 37  */   margin-left: -1px;
/* 38  */   top: -5px;
/* 39  */ }
/* 40  */ 
/* 41  */ #searchfilterform .ui-slider .ui-slider-handle {
/* 42  */   background: none repeat scroll 0 0 #FFFFFF;
/* 43  */   border: 1px solid #E0E0E0;
/* 44  */   border-radius: 4px 4px 4px 4px;
/* 45  */   cursor: default;
/* 46  */   height: 17px;
/* 47  */   outline: 0 none;
/* 48  */   position: absolute;
/* 49  */   width: 17px;
/* 50  */   z-index: 2;

/* style.css */

/* 51  */ }
/* 52  */ 
/* 53  */ #searchfilterform .ui-widget-content {
/* 54  */   background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
/* 55  */   border: 1px solid rgba(0, 0, 0, 0.1);
/* 56  */   border-radius: 4px 4px 4px 4px;
/* 57  */   color: #333333;
/* 58  */   margin-bottom: 20px;
/* 59  */ }
/* 60  */ 
/* 61  */ #searchfilterform .ui-slider-horizontal {
/* 62  */   height: 10px;
/* 63  */ }
/* 64  */ 
/* 65  */ #searchfilterform .ui-slider {
/* 66  */   position: relative;
/* 67  */   text-align: left;
/* 68  */ }
/* 69  */ 
/* 70  */ #searchfilterform .filter ul.sf_cat li,#searchfilterform .filter ul.sf_tag li {
/* 71  */   border-bottom: medium none !important;
/* 72  */ }
/* 73  */ 
/* 74  */ #searchfilterform .dp input[type="text"] {
/* 75  */   display: inline-block;
/* 76  */   margin-bottom: 5px;
/* 77  */   width: 78%;
/* 78  */ }
/* 79  */ 
/* 80  */ #searchfilterform .dp .ui-datepicker-trigger {
/* 81  */ 	float: right;
/* 82  */ 	width: 101px !important;
/* 83  */ }
/* 84  */ 
/* 85  */ #sidebar-primary #searchfilterform .wp-editor-wrap {
/* 86  */   margin-left: 0;
/* 87  */   width: 100%;
/* 88  */ }
/* 89  */ 
/* 90  */ #content .sel-filters {
/* 91  */   background: none repeat scroll 0 center transparent;
/* 92  */   padding-left: 0;
/* 93  */   padding-top: 0;
/* 94  */   color: #808080;
/* 95  */ }
/* 96  */ #content #loop_listing_taxonomy,
/* 97  */ #content #loop_event_taxonomy,
/* 98  */ #content #loop_listing_archive,
/* 99  */ #content #loop_event_archive { position: relative; }
/* 100 */ #content p[class*="_process"] {

/* style.css */

/* 101 */   text-align: center;
/* 102 */   width: 100%;
/* 103 */   padding:0;
/* 104 */   margin: 0;
/* 105 */ }
/* 106 */ #content p[class*="_process"] span.process-overlay ~ i.fa{ position: relative; z-index: 10;}
/* 107 */ #content p[class*="_process"] span.process-overlay {
/* 108 */   background: #FFF;
/* 109 */   opacity: 0.8;
/* 110 */   position: absolute;
/* 111 */   height: 100%;
/* 112 */   width: 100%;
/* 113 */   left: 0;
/* 114 */   z-index: 10;
/* 115 */ }
/* 116 */ #content p[class*="_process"] img { 
/* 117 */   position: absolute; 
/* 118 */   top: 50px;
/* 119 */   left: 50%;
/* 120 */   margin-left: -42px;
/* 121 */   z-index: 99999;
/* 122 */ }
/* 123 */ 
/* 124 */ .icon-clear {
/* 125 */ background: url("/wp-content/plugins/Directory-ListFilter/images/cross.png") no-repeat scroll 0 0 transparent;
/* 126 */ float: right;
/* 127 */ height: 16px;
/* 128 */ width: 16px;
/* 129 */ }
/* 130 */ 
/* 131 */ .value > a {
/* 132 */ color: #444444;
/* 133 */ cursor: default;
/* 134 */ display: inline-block;
/* 135 */ float: left;
/* 136 */  margin: 0 3px;
/* 137 */ }
/* 138 */ 
/* 139 */ 
/* 140 */ .rpadding5 {
/* 141 */ float: left;
/* 142 */ padding: 0 6px;
/* 143 */ }
/* 144 */ 
/* 145 */ #filter-group-sf_sfrate 
/* 146 */ {
/* 147 */ 	float: left;
/* 148 */ 	padding: 0 6px 0 0;
/* 149 */ 	text-align: left;
/* 150 */ }

/* style.css */

/* 151 */ 
/* 152 */ #filter-group-sf_sfrate .value > a,#filter-group-sf_checkcats .value > a {
/* 153 */   display: block;
/* 154 */   overflow: hidden;
/* 155 */   position: relative;
/* 156 */ }
/* 157 */ 
/* 158 */ #filter-group-sf_sfrate .icon-clear {
/* 159 */   position: absolute;
/* 160 */ }
/* 161 */ 
/* 162 */ .flit-opt-cols .value i:hover {
/* 163 */   color: #FF0000;
/* 164 */ }
/* 165 */ 
/* 166 */ .filter-options .flit-opt-cols .filter-lable {
/* 167 */   display: inline-block;
/* 168 */   float: left;
/* 169 */   font-weight: bold;
/* 170 */   margin-right: 5px;
/* 171 */   vertical-align: top;
/* 172 */ }
/* 173 */ 
/* 174 */ .flit-opt-cols .value {
/* 175 */   float: left;
/* 176 */ }
/* 177 */ 
/* 178 */ #filtersAction,#selectedFilters
/* 179 */ {
/* 180 */ 	display: none;
/* 181 */ }
/* 182 */ 
/* 183 */ #sfevent_cal {
/* 184 */   text-align: center;
/* 185 */ }
/* 186 */ 
/* 187 */ .warn
/* 188 */ {
/* 189 */ 	color: #F00;
/* 190 */ }
/* 191 */ 
/* 192 */ .active_date
/* 193 */ {
/* 194 */ 	font-weight: bold !important;
/* 195 */ }
/* 196 */ 
/* 197 */ .nav_btn a {
/* 198 */   color: #FFFFFF;
/* 199 */   font-size: 12px;
/* 200 */ }

/* style.css */

/* 201 */ 
/* 202 */ .prev_month.nav_btn {
/* 203 */   float: left;
/* 204 */ }
/* 205 */ 
/* 206 */ .next_month.nav_btn {
/* 207 */   float: right;
/* 208 */ }
/* 209 */ 
/* 210 */ .filter_list_wrap .flit-opt-cols1 {
/* 211 */   margin-top: 7px;
/* 212 */ }
/* 213 */ 
