
/* verified.css */

/* 1  */ #buddypress span#bp-verified {
/* 2  */ 	width: 20px;
/* 3  */ 	height: 20px;
/* 4  */ 	display: block;
/* 5  */ 	position: absolute;
/* 6  */ 	top: 53px;
/* 7  */ 	left: 37px;
/* 8  */ }
/* 9  */ 
/* 10 */ #buddypress .activity-list li.mini span#bp-verified {
/* 11 */ 	width: 15px;
/* 12 */ 	height: 15px;
/* 13 */ 	top: 30px;
/* 14 */ 	left: 40px;
/* 15 */ }
/* 16 */ 
/* 17 */ #buddypress span#bp-verified img {
/* 18 */ 	width: 20px;
/* 19 */ 	box-shadow: none;
/* 20 */ }
/* 21 */ 
/* 22 */ div#item-header-avatar {
/* 23 */ 	position: relative;
/* 24 */ }
/* 25 */ 
/* 26 */ #buddypress span#bp-verified-header {
/* 27 */ 	width: 20px;
/* 28 */ 	height: 20px;
/* 29 */ 	display: block;
/* 30 */ 	position: absolute;
/* 31 */ 	top: 135px;
/* 32 */ 	left: 135px;
/* 33 */ }
/* 34 */ 
/* 35 */ #buddypress span#bp-verified-header img {
/* 36 */ 	box-shadow: none;
/* 37 */ }
/* 38 */ 
/* 39 */ #buddypress div.activity-comments div.acomment-avatar span#bp-verified {
/* 40 */ 	width: 15px;
/* 41 */ 	height: 15px;
/* 42 */ 	position: absolute;
/* 43 */ 	display: block;
/* 44 */ 	top: 26px;
/* 45 */ 	left: 16px;	
/* 46 */ }
/* 47 */ 
/* 48 */ #buddypress div.activity-comments div.acomment-avatar span#bp-verified img {
/* 49 */ 	width: 15px;
/* 50 */ 	height: 15px;	

/* verified.css */

/* 51 */ }
/* 52 */ 
/* 53 */ #buddypress #bp-verified-text {
/* 54 */ 	margin: 40px 0 0 0;
/* 55 */ }
