
/* advanced-recent-posts-widget.css */

/* 1  */ /*
/* 2  *| Default CSS Styles for the advanced recent post widget plug-in
/* 3  *| Version 3.0.0
/* 4  *| */
/* 5  */ .advanced_recent_posts_widget * {
/* 6  */ 	margin:0;
/* 7  */ 	padding:0;
/* 8  */ }
/* 9  */ .advanced_recent_posts_widget {
/* 10 */ 	font-size: 12px;	
/* 11 */ 	line-height: 18px;
/* 12 */ }
/* 13 */ .advanced_recent_posts_widget .post-title{
/* 14 */ 	font-size: 12px;	
/* 15 */ 	font-weight:bold;
/* 16 */ }
/* 17 */ .advanced_recent_posts_widget .post-date{
/* 18 */ 	font-style:italic;
/* 19 */ }
/* 20 */ 
/* 21 */ .advanced_recent_posts_widget img{
/* 22 */ 	float:left;
/* 23 */ 	margin-right:10px;
/* 24 */ 	margin-top:5px;
/* 25 */ }
/* 26 */ .advanced_recent_posts_widget ul li{
/* 27 */ 	list-style: none;
/* 28 */ 	list-style-type: none;
/* 29 */ 	margin: 3px 0;
/* 30 */ 	padding: 3px 0;
/* 31 */ 	border-bottom:1px solid #ccc;
/* 32 */ }
/* 33 */ .advanced_recent_posts_widget .more-link{
/* 34 */ 	display:inline;
/* 35 */ }
/* 36 */ .advanced_recent_posts_widget .post-entry{ 
/* 37 */    padding:0 0 5px 0;
/* 38 */    overflow:hidden;
/* 39 */ }
