
/* coupon-style.css */

/* 1  */ /*  
/* 2  *|  * coupon-style.css
/* 3  *|  * CSS for the plugin is written in this file
/* 4  *|  * 
/* 5  *|  */
/* 6  */ .cpn { clear: both; display: block; }
/* 7  */ .cpn_img { float: left; text-align: center; width: 20%; }
/* 8  */ .cpn_optopn { float: left; padding: 42px 0; width: 80%; }
/* 9  */ #listing_coupons { overflow: hidden; }
/* 10 */ #validate_coupon { margin: 10px 0; }
/* 11 */ .file_type label { float: left; margin: 0 15px 0 0; }
/* 12 */ .file_type { margin: 10px 0; }
/* 13 */ #upload_coupon .file_valueupload_coupon { height: 38px; margin-top: 16px; }
/* 14 */ .cpn_optopn a { color: #fff !important; }
/* 15 */ .cpn_optopn a.pr { margin-right: 10px; }
/* 16 */ 
/* 17 */ li >img { cursor: move; }
/* 18 */ #couponlist { max-width:730px; margin-left: -25px; }
/* 19 */ #couponlist div { float:left; }
/* 20 */ #couponlist p >img { cursor: move; }
/* 21 */ #couponlist div p { position:relative; padding: 0; }
/* 22 */ #couponlist div p span { position:absolute; top:-6px; right:-6px; }
/* 23 */ #uploadcoupon { position:relative !important; width: 120px; }
/* 24 */ #uploadcoupon .uploadfilebutton { position:absolute !important; font-size:30px; cursor:pointer; z-index:2147483583; top:-10px; left:0; opacity:0; width:auto }
/* 25 */ .form_row table.coupon_table td, .form_row table.coupon_table, .form_row table.coupon_table table { clear: both; border: none; padding: 0; margin: 0; }
/* 26 */ .form_row table.coupon_table #couponlist div { margin-top: 20px; }
/* 27 */ .form_row table.coupon_table #couponlist div { margin-left: 25px; margin-bottom: 2px; }
/* 28 */ 
/* 29 */ #listing_coupons ul { margin: 0;}
/* 30 */ #listing_coupons ul li { display: inline-block; *display: inline; zoom: 1; vertical-align: top; width: 30.3%; margin: 0 -4px 30px 3.4%; }
/* 31 */ #listing_coupons ul li .cpn_img { width: 100%; }
/* 32 */ #listing_coupons ul li .cpn_img img { height: auto; margin: 0; }
/* 33 */ #listing_coupons ul li .cpn_optopn { width: 100%; padding: 0; text-align: center; }
/* 34 */ #listing_coupons ul li .cpn_optopn a { background-color: #FAFAFA; border: 1px solid #E0E0E0; border-radius: 2px; color: #666666 !important; box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; font-size: 12px; margin-bottom: 20px; padding: 9px 9px 8px; margin-bottom: 0; }
/* 35 */ #listing_coupons ul li .cpn_optopn a:hover { color: #fff !important; background: #000; border-color: #000; }
/* 36 */ 
/* 37 */ /*backend*/
/* 38 */ #coupon_iuploader #listing_coupons ul { margin-left: -10px; }
/* 39 */ #coupon_iuploader #listing_coupons ul li.cpn { position: relative; width: 78px; margin: 0 0 20px 10px; }
/* 40 */ #coupon_iuploader #listing_coupons ul li.cpn img { width: 100%; }
/* 41 */ #coupon_iuploader #listing_coupons ul li.cpn .cpn_img img#cross { position: absolute; top: -8px; right: -8px; width: auto !important; }
/* 42 */ 
/* 43 */ #coupon_iuploader #listing_coupons ul li .cpn_optopn a.button.pr { margin-right: 6px !important; }
/* 44 */ #coupon_iuploader #listing_coupons ul li .cpn_optopn a.button.pr, #coupon_iuploader #listing_coupons ul li .cpn_optopn a.button.dw { display: inline-block; overflow: hidden; width: 36px; box-shadow: none; text-indent: -9999px; padding: 9px 12px 19px; margin: 0; }
/* 45 */ #coupon_iuploader #listing_coupons ul li .cpn_optopn a.button.pr i, #coupon_iuploader #listing_coupons ul li .cpn_optopn a.button.dw i { display: block; text-indent: 0; }
/* 46 */ #coupon_iuploader #uploadcoupon { width: 118px; height: 36px; box-shadow: none; line-height: 34px; }
/* 47 */ #coupon_iuploader #uploadcoupon:hover { border-color: #000; }
/* 48 */ 
/* 49 */ .cpi-instant-view td, .cpi-instant-view #cfiles { padding: 0; }
/* 50 */ .cpi-instant-view #couponlist { margin-left: -14px; }

/* coupon-style.css */

/* 51 */ .cpi-instant-view #couponlist > div { margin-left: 10px; }
/* 52 */ 
/* 53 */ .cpn_ttl { clear: both; }
/* 54 */ 
/* 55 */ @media only screen and (max-width:679px) {
/* 56 */ #listing_coupons ul li { width: 46.9%; }
/* 57 */ }
/* 58 */ 
/* 59 */ @media only screen and (max-width:320px) {
/* 60 */ #listing_coupons ul li { width: 100%; }
/* 61 */ }
/* 62 */ 
/* 63 */ .post_coupons #uploadcoupon span
/* 64 */ {
/* 65 */ 	position: static;
/* 66 */ }
/* 67 */ #coupon_iuploader #uploadcoupon .uploadfilebutton{ width:auto!important }
/* 68 */ 
/* 69 */ 
