
/* coupon-style.css */

/* 1  */ /*  
/* 2  *|  * coupon-style.css
/* 3  *|  * CSS for the plugin is written in this file
/* 4  *|  * 
/* 5  *|  */
/* 6  */ .cpn { clear: both; display: block; }
/* 7  */ .cpn_img { float: left; text-align: center; width: 20%; }
/* 8  */ .cpn_optopn { float: left; padding: 42px 0; width: 80%; }
/* 9  */ #listing_coupons { overflow: hidden; }
/* 10 */ #validate_coupon { margin: 10px 0; }
/* 11 */ .file_type label { float: left; margin: 0 15px 0 0; }
/* 12 */ .file_type { margin: 10px 0; }
/* 13 */ #upload_coupon .file_valueupload_coupon { height: 38px; margin-top: 16px; }
/* 14 */ .cpn_optopn a { color: #fff !important; }
/* 15 */ .cpn_optopn a.pr { margin-right: 10px; }
/* 16 */ 
/* 17 */ li >img { cursor: move; }
/* 18 */ #couponlist { max-width:730px; margin-left: -25px; }
/* 19 */ #couponlist div { float:left; }
/* 20 */ #couponlist p >img { cursor: move; }
/* 21 */ #couponlist div p { position:relative; padding: 0; }
/* 22 */ #couponlist div p span { position:absolute; top:-6px; right:-6px; }
/* 23 */ #uploadcoupon { position:relative !important; width: 120px; }
/* 24 */ #uploadcoupon .uploadfilebutton { position:absolute !important; font-size:30px; cursor:pointer; z-index:2147483583; top:-10px; left:0; opacity:0; width:auto }
/* 25 */ .form_row table.coupon_table td, .form_row table.coupon_table, .form_row table.coupon_table table { clear: both; border: none; padding: 0; margin: 0; }
/* 26 */ .form_row table.coupon_table #couponlist div { margin-top: 20px; }
/* 27 */ .form_row table.coupon_table #couponlist div { margin-left: 25px; margin-bottom: 2px; }
/* 28 */ 
/* 29 */ #listing_coupons ul { margin: 0;}
/* 30 */ #listing_coupons ul li { display: inline-block; *display: inline; zoom: 1; vertical-align: top; width: 30.3%; margin: 0 -4px 30px 3.4%; }
/* 31 */ #listing_coupons ul li .cpn_img { width: 100%; }
/* 32 */ #listing_coupons ul li .cpn_img img { height: auto; margin: 0; }
/* 33 */ #listing_coupons ul li .cpn_optopn { width: 100%; padding: 0; text-align: center; }
/* 34 */ #listing_coupons ul li .cpn_optopn a { background-color: #FAFAFA; border: 1px solid #E0E0E0; border-radius: 2px; color: #666666 !important; box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; font-size: 12px; margin-bottom: 20px; padding: 9px 9px 8px; margin-bottom: 0; }
/* 35 */ #listing_coupons ul li .cpn_optopn a:hover { color: #fff !important; background: #000; border-color: #000; }
/* 36 */ 
/* 37 */ /*backend*/
/* 38 */ #coupon_iuploader #listing_coupons ul { margin-left: -10px; }
/* 39 */ #coupon_iuploader #listing_coupons ul li.cpn { position: relative; width: 78px; margin: 0 0 20px 10px; }
/* 40 */ #coupon_iuploader #listing_coupons ul li.cpn img { width: 100%; }
/* 41 */ #coupon_iuploader #listing_coupons ul li.cpn .cpn_img img#cross { position: absolute; top: -8px; right: -8px; width: auto !important; }
/* 42 */ 
/* 43 */ #coupon_iuploader #listing_coupons ul li .cpn_optopn a.button.pr { margin-right: 6px !important; }
/* 44 */ #coupon_iuploader #listing_coupons ul li .cpn_optopn a.button.pr, #coupon_iuploader #listing_coupons ul li .cpn_optopn a.button.dw { display: inline-block; overflow: hidden; width: 36px; box-shadow: none; text-indent: -9999px; padding: 9px 12px 19px; margin: 0; }
/* 45 */ #coupon_iuploader #listing_coupons ul li .cpn_optopn a.button.pr i, #coupon_iuploader #listing_coupons ul li .cpn_optopn a.button.dw i { display: block; text-indent: 0; }
/* 46 */ #coupon_iuploader #uploadcoupon { width: 118px; height: 36px; box-shadow: none; line-height: 34px; }
/* 47 */ #coupon_iuploader #uploadcoupon:hover { border-color: #000; }
/* 48 */ 
/* 49 */ .cpi-instant-view td, .cpi-instant-view #cfiles { padding: 0; }
/* 50 */ .cpi-instant-view #couponlist { margin-left: -14px; }

/* coupon-style.css */

/* 51 */ .cpi-instant-view #couponlist > div { margin-left: 10px; }
/* 52 */ 
/* 53 */ .cpn_ttl { clear: both; }
/* 54 */ 
/* 55 */ @media only screen and (max-width:679px) {
/* 56 */ #listing_coupons ul li { width: 46.9%; }
/* 57 */ }
/* 58 */ 
/* 59 */ @media only screen and (max-width:320px) {
/* 60 */ #listing_coupons ul li { width: 100%; }
/* 61 */ }
/* 62 */ 
/* 63 */ .post_coupons #uploadcoupon span
/* 64 */ {
/* 65 */ 	position: static;
/* 66 */ }
/* 67 */ #coupon_iuploader #uploadcoupon .uploadfilebutton{ width:auto!important }
/* 68 */ 
/* 69 */ 

/* awesome-weather.css */

/* 1  */ .awecf:before, .awecf:after { content: " "; display: table; }
/* 2  */ .awecf:after { clear: both; }
/* 3  */ .awecf { *zoom: 1; }
/* 4  */ 
/* 5  */ .awesome-weather-wrap {
/* 6  */ 	background: #333; transition: background 0.5s ease-in; 
/* 7  */     text-shadow: 0 1px 2px rgba(0,0,0,0.5); color: #fff;
/* 8  */     clear: both;
/* 9  */ }
/* 10 */ 
/* 11 */ .awesome-weather-wrap div {
/* 12 */ 	-webkit-box-sizing: border-box;
/* 13 */ 	-moz-box-sizing: border-box;
/* 14 */ 	box-sizing: border-box;
/* 15 */ }
/* 16 */ 
/* 17 */ .awesome-weather-wrap.darken { text-shadow: 0 1px 2px rgba(0,0,0,0.9); }
/* 18 */ 
/* 19 */ .awesome-weather-wrap.temp1 { background: #43adff; }
/* 20 */ .awesome-weather-wrap.temp2 { background: #629BE0; }
/* 21 */ .awesome-weather-wrap.temp3 { background: #8289C1; }
/* 22 */ .awesome-weather-wrap.temp4 { background: #A178A3; }
/* 23 */ .awesome-weather-wrap.temp5 { background: #C06684; }
/* 24 */ .awesome-weather-wrap.temp6 { background: #E05465; }
/* 25 */ .awesome-weather-wrap.temp7 { background: #ff4246; }
/* 26 */ 
/* 27 */ .awesome-weather-cover { width: 100%; height: 100%; background-size: cover; }
/* 28 */ .awesome-weather-darken { width: 100%; height: 100%; background: rgba(0,0,0,0.3); }
/* 29 */ 
/* 30 */ .awesome-weather-header {
/* 31 */ 	padding: 10px;
/* 32 */ 	text-align: center;
/* 33 */ 	background: rgba(0,0,0,0.1);
/* 34 */ 	text-transform: uppercase;
/* 35 */ }
/* 36 */ .awesome-weather-wrap.darken .awesome-weather-header { background: rgba(0,0,0,0.2); }
/* 37 */ 
/* 38 */ .awesome-weather-current-temp {
/* 39 */ 	padding: 15px;
/* 40 */ 	width: 50%;
/* 41 */ 	float: left;
/* 42 */ 	font-size: 66px;
/* 43 */ 	line-height: 1em;
/* 44 */ 	font-weight: 300;
/* 45 */ 	white-space: nowrap;
/* 46 */ }
/* 47 */ 
/* 48 */ .awesome-weather-current-temp sup { font-size: 24px; padding-left: 3px; }
/* 49 */ 
/* 50 */ .awesome-weather-todays-stats {

/* awesome-weather.css */

/* 51 */ 	float: right;
/* 52 */ 	text-align: right;
/* 53 */ 	padding: 15px;
/* 54 */ 	line-height: 1.4em;
/* 55 */ 	width: 50%;
/* 56 */ }
/* 57 */ .awe_tall .awesome-weather-todays-stats { padding: 0 10px 15px 10px; }
/* 58 */ 
/* 59 */ .awesome-weather-forecast { 
/* 60 */ 	border-top: solid 1px rgba(255,255,255,0.5);
/* 61 */ 	width: 100%; 
/* 62 */ 	margin-right: auto; margin-left: auto;
/* 63 */ 	padding: 15px 10px;
/* 64 */ 	clear: both;
/* 65 */ }
/* 66 */ 
/* 67 */ .awesome-weather-forecast-day {
/* 68 */ 	width: 18%;
/* 69 */ 	margin: 0 1%;
/* 70 */ 	float: left;
/* 71 */ 	text-align: center;
/* 72 */ 	font-weight: 400;
/* 73 */ }
/* 74 */ 
/* 75 */ .awe_days_2 .awesome-weather-forecast-day { width: 48%; }
/* 76 */ .awe_days_3 .awesome-weather-forecast-day { width: 31%; }
/* 77 */ .awe_days_4 .awesome-weather-forecast-day { width: 23%; }
/* 78 */ 
/* 79 */ .awesome-weather-forecast-day-temp { font-size: 1.3em; font-weight: 300; white-space: nowrap; }
/* 80 */ .awesome-weather-forecast-day-temp sup { font-size: 0.6em; padding-left: 2px; }
/* 81 */ .awesome-weather-forecast-day-abbr { text-transform: uppercase; font-size: 0.7em; font-weight: 300; margin-top: 5px; padding-right: 4px;  }
/* 82 */ 
/* 83 */ .awe_tall .awesome-weather-current-temp,
/* 84 */ .awe_tall .awesome-weather-todays-stats,
/* 85 */ .awe_without_stats .awesome-weather-current-temp { text-align: center; width: 100%; float: none; }
/* 86 */ 
/* 87 */ #sidebar .awe_wide .awesome-weather-current-temp,
/* 88 */ #secondary .awe_wide .awesome-weather-current-temp { font-size: 40px; }
/* 89 */ 
/* 90 */ #sidebar .awe_wide .awesome-weather-todays-stats,
/* 91 */ #secondary .awe_wide .awesome-weather-todays-stats { font-size: 12px; }
/* 92 */ 
/* 93 */ .awesome-weather-more-weather-link { padding: 10px; text-align: center; border-top: solid 1px rgba(255,255,255,0.5); }
/* 94 */ .awesome-weather-more-weather-link a { color: #fff !important; text-decoration: none !important; font-size: 0.8em; }
/* 95 */ 
/* 96 */ /* ERROR */
/* 97 */ div.awesome-weather-error { color: #ed7469; font-weight: bold; display: block; padding: 10px; text-align: center; border: solid 1px #ed7469; text-transform: uppercase; }
/* 98 */ .awesome-weather-attribution { text-align: center; font-size: 9px; font-weight: bold; font-family: sans-serif; padding: 5px; }

/* buddypress.min.css */

/* 1 */ #buddypress div.pagination .pagination-links a:hover,#buddypress ul.button-nav li.current a{font-weight:700}#buddypress div.pagination{background:0 0;border:none;color:#767676;font-size:small;margin:0;position:relative;display:block;float:left;width:100%;padding:10px 0}#buddypress div.pagination .pag-count{float:left;margin-left:10px}#buddypress div.pagination .pagination-links{float:right;margin-right:10px}#buddypress div.pagination .pagination-links a,#buddypress div.pagination .pagination-links span{font-size:90%;padding:0 5px}#buddypress noscript div.pagination{margin-bottom:15px}#buddypress #nav-above{display:none}#buddypress .paged #nav-above{display:block}#buddypress img.wp-smiley{border:none!important;clear:none!important;float:none!important;margin:0!important;padding:0!important}#buddypress .clear{clear:left}#buddypress #activity-stream{margin-top:-5px}#buddypress #activity-stream p{margin:5px 0}#buddypress #item-body form#whats-new-form{margin:0;padding:0}#buddypress .home-page form#whats-new-form{border-bottom:none;padding-bottom:0}#buddypress form#whats-new-form #whats-new-avatar{float:left}#buddypress form#whats-new-form #whats-new-content{margin-left:55px;padding:0 0 20px 20px}#buddypress form#whats-new-form p.activity-greeting{line-height:.5em;margin-bottom:15px;margin-left:75px}#buddypress form#whats-new-form textarea{background:#fff;box-sizing:border-box;color:#555;font-family:inherit;font-size:medium;height:2.2em;line-height:1.4;padding:6px;width:100%}body.no-js #buddypress form#whats-new-form textarea{height:50px}#buddypress form#whats-new-form #whats-new-options select{max-width:200px;margin-top:12px}#buddypress form#whats-new-form #whats-new-submit{float:right;margin-top:12px}#buddypress #whats-new-options:after{clear:both;content:"";display:table}body.no-js #buddypress #whats-new-options{height:auto}#buddypress #whats-new:focus{border-color:rgba(31,179,221,.9)!important;outline-color:rgba(31,179,221,.9)}#buddypress ul.activity-list li{overflow:hidden;padding:15px 0 0;list-style:none}#buddypress .activity-list .activity-avatar{float:left}#buddypress ul.item-list.activity-list li.has-comments{padding-bottom:15px}body.activity-permalink #buddypress ul.activity-list li.has-comments{padding-bottom:0}#buddypress .activity-list li.mini{font-size:80%;position:relative}#buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic,#buddypress .activity-list li.mini .activity-avatar img.avatar{height:20px;margin-left:30px;width:20px}#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.FB_profile_pic,#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.avatar{height:auto;margin-left:0;width:auto}body.activity-permalink #buddypress .activity-list>li:first-child{padding-top:0}#buddypress .activity-list li .activity-content{position:relative}#buddypress .activity-list li.mini .activity-content p{margin:0}#buddypress .activity-list li.mini .activity-comments{clear:both;font-size:120%}body.activity-permalink #buddypress li.mini .activity-meta{margin-top:4px}#buddypress .activity-list li .activity-inreplyto{color:#767676;font-size:80%}#buddypress .activity-list li .activity-inreplyto>p{margin:0;display:inline}#buddypress .activity-list li .activity-inreplyto blockquote,#buddypress .activity-list li .activity-inreplyto div.activity-inner{background:0 0;border:none;display:inline;margin:0;overflow:hidden;padding:0}#buddypress .activity-list .activity-content{margin:0 0 0 70px}body.activity-permalink #buddypress .activity-list li .activity-content{border:none;font-size:100%;line-height:150%;margin-left:170px;margin-right:0;padding:0}body.activity-permalink #buddypress .activity-list li .activity-header>p{margin:0;padding:5px 0 0}#buddypress .activity-list .activity-content .activity-header,#buddypress .activity-list .activity-content .comment-header{color:#767676;line-height:220%}#buddypress .activity-header{margin-right:20px}#buddypress .acomment-meta a,#buddypress .activity-header a,#buddypress .comment-meta a{text-decoration:none}#buddypress .activity-list .activity-content .activity-header img.avatar{float:none!important;margin:0 5px -8px 0!important}#buddypress a.bp-secondary-action,#buddypress span.highlight{font-size:80%;padding:0;margin-right:5px;text-decoration:none}#buddypress .activity-list .activity-content .activity-inner,#buddypress .activity-list .activity-content blockquote{margin:10px 10px 5px 0;overflow:hidden}#buddypress .activity-list li.new_forum_post .activity-content .activity-inner,#buddypress .activity-list li.new_forum_topic .activity-content .activity-inner{border-left:2px solid #EAEAEA;margin-left:5px;padding-left:10px}body.activity-permalink #buddypress .activity-content .activity-inner,body.activity-permalink #buddypress .activity-content blockquote{margin-left:0;margin-top:5px}#buddypress .activity-inner>p{word-wrap:break-word}#buddypress .activity-inner>.activity-inner,#buddypress .activity-inner>blockquote{margin:0}#buddypress .activity-list .activity-content img.thumbnail{border:2px solid #eee;float:left;margin:0 10px 5px 0}#buddypress .activity-read-more{margin-left:1em;white-space:nowrap}#buddypress .activity-list li.load-more,#buddypress .activity-list li.load-newest{background:#f0f0f0;font-size:110%;margin:15px 0;padding:10px 15px;text-align:center}#buddypress .activity-list li.load-more a,#buddypress .activity-list li.load-newest a{color:#4D4D4D}#buddypress div.activity-meta{margin:18px 0 0}body.activity-permalink #buddypress div.activity-meta{margin-bottom:6px}#buddypress div.activity-meta a{padding:4px 8px}#buddypress a.activity-time-since{color:#767676;text-decoration:none}#buddypress a.activity-time-since:hover{color:#767676;text-decoration:underline}#buddypress #reply-title small a,#buddypress a.bp-primary-action{font-size:80%;margin-right:5px;text-decoration:none}#buddypress #reply-title small a span,#buddypress a.bp-primary-action span{background:#767676;color:#fff;font-size:90%;margin-left:2px;padding:0 5px}#buddypress #reply-title small a:hover span,#buddypress a.bp-primary-action:hover span{background:#555;color:#fff}#buddypress div.activity-comments{margin:0 0 0 70px;overflow:hidden;position:relative;width:auto;clear:both}body.activity-permalink #buddypress div.activity-comments{background:0 0;margin-left:170px;width:auto}#buddypress div.activity-comments>ul{padding:0 0 0 10px}#buddypress div.activity-comments ul,#buddypress div.activity-comments ul li{border:none;list-style:none}#buddypress div.activity-comments ul{clear:both;margin:0}#buddypress div.activity-comments ul li{border-top:1px solid #eee;padding:10px 0 0}body.activity-permalink #buddypress .activity-list li.mini .activity-comments{clear:none;margin-top:0}body.activity-permalink #buddypress div.activity-comments ul li{border-width:1px;padding:10px 0 0}#buddypress div.activity-comments>ul>li:first-child{border-top:none}#buddypress div.activity-comments ul li:last-child{margin-bottom:0}#buddypress div.activity-comments ul li>ul{margin-left:30px;margin-top:0;padding-left:10px}body.activity-permalink #buddypress div.activity-comments ul li>ul{margin-top:10px}body.activity-permalink #buddypress div.activity-comments>ul{padding:0 10px 0 15px}#buddypress div.activity-comments div.acomment-avatar img{border-width:1px;float:left;height:25px;margin-right:10px;width:25px}#buddypress div.activity-comments div.acomment-content{font-size:80%;margin:5px 0 0 40px}#buddypress div.acomment-content .activity-delete-link,#buddypress div.acomment-content .comment-header,#buddypress div.acomment-content .time-since{display:none}body.activity-permalink #buddypress div.activity-comments div.acomment-content{font-size:90%}#buddypress div.activity-comments div.acomment-meta{color:#767676;font-size:80%}#buddypress div.activity-comments form.ac-form{display:none;padding:10px}#buddypress div.activity-comments li form.ac-form{margin-right:15px;clear:both}#buddypress div.activity-comments form.root{margin-left:0}#buddypress div.activity-comments div#message{margin-top:15px;margin-bottom:0}#buddypress div.activity-comments form .ac-textarea{background:#fff;border:1px inset #ccc;margin-bottom:10px;padding:8px}#buddypress div.activity-comments form textarea{border:none;background:0 0;box-shadow:none;outline:0;color:#555;font-family:inherit;font-size:100%;height:60px;padding:0;margin:0;width:100%}#buddypress div.activity-comments form input{margin-top:5px}#buddypress div.activity-comments form div.ac-reply-avatar{float:left}#buddypress div.ac-reply-avatar img{border:1px solid #eee}#buddypress div.activity-comments form div.ac-reply-content{color:#767676;margin-left:50px;padding-left:15px}#buddypress div.activity-comments form div.ac-reply-content a{text-decoration:none}#buddypress .acomment-options{float:left;margin:5px 0 5px 40px}#buddypress .acomment-options a{color:#767676}#buddypress .acomment-options a:hover{color:inherit}#buddypress div.dir-search{float:right;margin:-39px 0 0}#buddypress div.dir-search input[type=text],#buddypress li.groups-members-search input[type=text]{font-size:90%;padding:1px 3px}#buddypress .current-member-type{font-style:italic}#buddypress .dir-form{clear:both}#buddypress div#message{margin:0 0 15px}#buddypress #message.info{margin-bottom:0}#buddypress div#message.updated{clear:both;display:block}#buddypress div#message p,#sitewide-notice p{font-size:90%;display:block;padding:10px 15px}#buddypress div#message.error p{background-color:#fdc;border:1px solid #a00;clear:left;color:#800}#buddypress div#message.warning p{background-color:#ffe0af;border:1px solid #ffd087;clear:left;color:#800}#buddypress div#message.updated p{background-color:#efc;border:1px solid #591;color:#250}#buddypress #pass-strength-result{background-color:#eee;border-color:#ddd;border-style:solid;border-width:1px;display:none;margin:5px 5px 5px 0;padding:5px;text-align:center;width:150px}#buddypress .standard-form #basic-details-section #pass-strength-result{width:35%}#buddypress #pass-strength-result.bad,#buddypress #pass-strength-result.error{background-color:#ffb78c;border-color:#ff853c!important;display:block}#buddypress #pass-strength-result.good{background-color:#ffec8b;border-color:#fc0!important;display:block}#buddypress #pass-strength-result.short{background-color:#ffa0a0;border-color:#f04040!important;display:block}#buddypress #pass-strength-result.strong{background-color:#c3ff88;border-color:#8dff1c!important;display:block}#buddypress .standard-form#signup_form div div.error{background:#faa;color:#a00;margin:0 0 10px;padding:6px;width:90%}#buddypress div.accept,#buddypress div.reject{float:left;margin-left:10px}#buddypress ul.button-nav li{float:left;margin:0 10px 10px 0;list-style:none}#sitewide-notice #message{left:2%;position:fixed;top:1em;width:96%;z-index:9999}#sitewide-notice.admin-bar-on #message{top:3.3em}#sitewide-notice strong{display:block;margin-bottom:-1em}#buddypress .dir-search input[type=search],#buddypress .dir-search input[type=text],#buddypress .groups-members-search input[type=search],#buddypress .groups-members-search input[type=text],#buddypress .standard-form input[type=color],#buddypress .standard-form input[type=date],#buddypress .standard-form input[type=datetime-local],#buddypress .standard-form input[type=datetime],#buddypress .standard-form input[type=email],#buddypress .standard-form input[type=month],#buddypress .standard-form input[type=number],#buddypress .standard-form input[type=password],#buddypress .standard-form input[type=range],#buddypress .standard-form input[type=search],#buddypress .standard-form input[type=tel],#buddypress .standard-form input[type=text],#buddypress .standard-form input[type=time],#buddypress .standard-form input[type=url],#buddypress .standard-form input[type=week],#buddypress .standard-form select,#buddypress .standard-form textarea{border:1px solid #ccc;background:#fafafa;border-radius:0;color:#767676;font:inherit;font-size:100%;padding:6px}#buddypress .standard-form select{padding:3px}#buddypress .standard-form input[type=password]{margin-bottom:5px}#buddypress .standard-form label,#buddypress .standard-form span.label{display:block;font-weight:700;margin:15px 0 5px;width:auto}#buddypress .standard-form #invite-list label,#buddypress .standard-form p label{font-weight:400;margin:auto}#buddypress .standard-form div.checkbox label:nth-child(n+2),#buddypress .standard-form div.radio div label{color:#767676;font-size:100%;font-weight:400;margin:5px 0 0}#buddypress .standard-form#sidebar-login-form label{margin-top:5px}#buddypress .standard-form input[type=text]{width:75%}#buddypress .standard-form#sidebar-login-form input[type=password],#buddypress .standard-form#sidebar-login-form input[type=text]{padding:4px;width:95%}#buddypress .standard-form #basic-details-section input[type=password],#buddypress .standard-form #blog-details-section input#signup_blog_url{width:35%}#buddypress #commentform input[type=text],#buddypress #commentform textarea,#buddypress .form-allowed-tags,#buddypress .standard-form#signup_form input[type=text],#buddypress .standard-form#signup_form textarea{width:90%}#buddypress .standard-form#signup_form div.submit{float:right}#buddypress div#signup-avatar img{margin:0 15px 10px 0}#buddypress .standard-form textarea{width:75%;height:120px}#buddypress .standard-form textarea#message_content{height:200px}#buddypress .standard-form#send-reply textarea{width:97.5%}#buddypress .standard-form p.description{color:#767676;font-size:80%;margin:5px 0}#buddypress .standard-form div.submit{clear:both;padding:15px 0 0}#buddypress .standard-form p.submit{margin-bottom:0;padding:15px 0 0}#buddypress .standard-form div.submit input{margin-right:15px}#buddypress .standard-form div.radio ul{margin:10px 0 15px 38px;list-style:disc}#buddypress .standard-form div.radio ul li{margin-bottom:5px}#buddypress .standard-form a.clear-value{display:block;margin-top:5px;outline:0}#buddypress table.notification-settings td:first-child,#buddypress table.notification-settings th.icon,#buddypress table.notifications td:first-child,#buddypress table.notifications th.icon,body.no-js #buddypress #delete_inbox_messages,body.no-js #buddypress #delete_sentbox_messages,body.no-js #buddypress #message-type-select,body.no-js #buddypress #messages-bulk-management #select-all-messages,body.no-js #buddypress #notifications-bulk-management #select-all-notifications,body.no-js #buddypress label[for=message-type-select]{display:none}#buddypress .standard-form #basic-details-section,#buddypress .standard-form #blog-details-section,#buddypress .standard-form #profile-details-section{float:left;width:48%}#buddypress .standard-form #profile-details-section{float:right}#buddypress #notifications-bulk-management,#buddypress .standard-form #blog-details-section{clear:left}#buddypress .standard-form input:focus,#buddypress .standard-form select:focus,#buddypress .standard-form textarea:focus{background:#fafafa;color:#555}#buddypress form#send-invite-form{margin-top:20px}#buddypress div#invite-list{background:#f5f5f5;height:400px;margin:0 0 10px;overflow:auto;padding:5px;width:160px}#buddypress .comment-reply-link,#buddypress .generic-button a,#buddypress a.button,#buddypress button,#buddypress input[type=button],#buddypress input[type=reset],#buddypress input[type=submit],#buddypress ul.button-nav li a,a.bp-title-button{background:#fff;border:1px solid #ccc;color:#767676;font-size:small;cursor:pointer;outline:0;padding:4px 10px;text-align:center;text-decoration:none}#buddypress .comment-reply-link:hover,#buddypress a.button:focus,#buddypress a.button:hover,#buddypress button:hover,#buddypress div.generic-button a:hover,#buddypress input[type=button]:hover,#buddypress input[type=reset]:hover,#buddypress input[type=submit]:hover,#buddypress ul.button-nav li a:hover,#buddypress ul.button-nav li.current a{background:#ededed;border:1px solid #bbb;color:#555;outline:0;text-decoration:none}#buddypress form.standard-form .left-menu{float:left}#buddypress form.standard-form .left-menu #invite-list ul{margin:1%;list-style:none}#buddypress form.standard-form .left-menu #invite-list ul li{margin:0 0 0 1%}#buddypress form.standard-form .main-column{margin-left:190px}#buddypress form.standard-form .main-column ul#friend-list{clear:none;float:left}#buddypress form.standard-form .main-column ul#friend-list h4{clear:none}#buddypress .wp-editor-wrap a.button,#buddypress .wp-editor-wrap button,#buddypress .wp-editor-wrap input[type=button],#buddypress .wp-editor-wrap input[type=reset],#buddypress .wp-editor-wrap input[type=submit]{padding:0 8px 1px}#buddypress form [disabled=disabled]{cursor:default;opacity:.4}.bp-screen-reader-text{position:absolute;margin:-1px;padding:0;height:1px;width:1px;overflow:hidden;clip:rect(0 0 0 0);border:0;word-wrap:normal!important}#buddypress a.loading,#buddypress input.loading{-webkit-animation:loader-pulsate .5s infinite ease-in-out alternate;-moz-animation:loader-pulsate .5s infinite ease-in-out alternate;border-color:#aaa}@-webkit-keyframes loader-pulsate{from{border-color:#aaa;-webkit-box-shadow:0 0 6px #ccc;box-shadow:0 0 6px #ccc}to{border-color:#ccc;-webkit-box-shadow:0 0 6px #f8f8f8;box-shadow:0 0 6px #f8f8f8}}@-moz-keyframes loader-pulsate{from{border-color:#aaa;-moz-box-shadow:0 0 6px #ccc;box-shadow:0 0 6px #ccc}to{border-color:#ccc;-moz-box-shadow:0 0 6px #f8f8f8;box-shadow:0 0 6px #f8f8f8}}#buddypress a.loading:hover,#buddypress input.loading:hover{color:#767676}#buddypress a.disabled,#buddypress button.disabled,#buddypress button.pending,#buddypress div.pending a,#buddypress input[type=submit].disabled,#buddypress input[type=submit].pending,#buddypress input[type=submit][disabled=disabled],#buddypress input[type=button].disabled,#buddypress input[type=button].pending,#buddypress input[type=reset].disabled,#buddypress input[type=reset].pending{border-color:#eee;color:#bbb;cursor:default}#buddypress a.disabled:hover,#buddypress button.disabled:hover,#buddypress button.pending:hover,#buddypress div.pending a:hover,#buddypress input[type=submit]:hover.disabled,#buddypress input[type=submit]:hover.pending,#buddypress input[type=button]:hover.disabled,#buddypress input[type=button]:hover.pending,#buddypress input[type=reset]:hover.disabled,#buddypress input[type=reset]:hover.pending{border-color:#eee;color:#bbb}#buddypress ul#topic-post-list{margin:0;width:auto}#buddypress ul#topic-post-list li{padding:15px;position:relative}#buddypress ul#topic-post-list li.alt{background:#f5f5f5}#buddypress ul#topic-post-list li div.poster-meta{color:#767676;margin-bottom:10px}#buddypress ul#topic-post-list li div.post-content{margin-left:54px}#buddypress div.topic-tags{font-size:80%}#buddypress div.admin-links{color:#767676;font-size:80%;position:absolute;top:15px;right:25px}#buddypress div#topic-meta{margin:0;padding:5px 19px 30px;position:relative}#buddypress div#topic-meta div.admin-links{right:19px;top:-36px}#buddypress div#topic-meta h3{margin:5px 0}#buddypress div#new-topic-post{display:none;margin:20px 0 0;padding:1px 0 0}#buddypress table.forum,#buddypress table.messages-notices,#buddypress table.notifications,#buddypress table.notifications-settings,#buddypress table.profile-fields,#buddypress table.profile-settings,#buddypress table.wp-profile-fields{width:100%}#buddypress table.forum thead tr,#buddypress table.messages-notices thead tr,#buddypress table.notifications thead tr,#buddypress table.notifications-settings thead tr,#buddypress table.profile-fields thead tr,#buddypress table.profile-settings thead tr,#buddypress table.wp-profile-fields thead tr{background:#eaeaea}#buddypress table#message-threads{clear:both}#buddypress table.profile-fields{margin-bottom:20px}#buddypress table tr td.thread-info p,#buddypress table.profile-fields p{margin:0}#buddypress table.profile-fields:last-child{margin-bottom:0}#buddypress table.profile-fields p:last-child{margin-top:0}#buddypress table.forum tr td,#buddypress table.forum tr th,#buddypress table.messages-notices tr td,#buddypress table.messages-notices tr th,#buddypress table.notifications tr td,#buddypress table.notifications tr th,#buddypress table.notifications-settings tr td,#buddypress table.notifications-settings tr th,#buddypress table.profile-fields tr td,#buddypress table.profile-fields tr th,#buddypress table.profile-settings tr td,#buddypress table.wp-profile-fields tr td,#buddypress table.wp-profile-fields tr th{padding:8px;vertical-align:middle}#buddypress table.forum tr td.label,#buddypress table.messages-notices tr td.label,#buddypress table.notifications tr td.label,#buddypress table.notifications-settings tr td.label,#buddypress table.profile-fields tr td.label,#buddypress table.wp-profile-fields tr td.label{border-right:1px solid #eaeaea;font-weight:700;width:25%}#buddypress #message-threads .thread-info{min-width:40%}#buddypress table tr td.thread-info p.thread-excerpt{color:#767676;font-size:80%;margin-top:3px}#buddypress table.forum td{text-align:center}#buddypress table.forum tr.alt td,#buddypress table.messages-notices tr.alt td,#buddypress table.notifications tr.alt td,#buddypress table.notifications-settings tr.alt td,#buddypress table.profile-fields tr.alt td,#buddypress table.profile-settings tr.alt td,#buddypress table.wp-profile-fields tr.alt td{background:#f5f5f5}#buddypress table.notification-settings{margin-bottom:20px;text-align:left}#buddypress #groups-notification-settings{margin-bottom:0}#buddypress table.notification-settings th.title,#buddypress table.profile-settings th.title{width:80%}#buddypress table.notification-settings .no,#buddypress table.notification-settings .yes{text-align:center;width:40px}#buddypress table.forum{margin:0;width:auto;clear:both}#buddypress table.forum tr.sticky td{font-size:110%;background:#fff9db;border-top:1px solid #ffe8c4;border-bottom:1px solid #ffe8c4}#buddypress table.forum tr.closed td.td-title{padding-left:35px}#buddypress table.forum td p.topic-text{color:#767676;font-size:100%}#buddypress table.forum tr>td:first-child,#buddypress table.forum tr>th:first-child{padding-left:15px}#buddypress table.forum tr>td:last-child,#buddypress table.forum tr>th:last-child{padding-right:15px}#buddypress table.forum td.td-group,#buddypress table.forum td.td-poster,#buddypress table.forum td.td-title,#buddypress table.forum tr th#th-group,#buddypress table.forum tr th#th-poster,#buddypress table.forum tr th#th-title{text-align:left}#buddypress table.forum tr td.td-title a.topic-title{font-size:110%}#buddypress table.forum td.td-freshness{white-space:nowrap}#buddypress table.forum td.td-freshness span.time-since{font-size:80%;color:#767676}#buddypress table.forum td img.avatar{float:none;margin:0 5px -8px 0}#buddypress table.forum td.td-group,#buddypress table.forum td.td-poster{min-width:140px}#buddypress table.forum th#th-title{width:80%}#buddypress table.forum th#th-freshness{width:25%}#buddypress table.forum th#th-postcount{width:15%}#buddypress table.forum p.topic-meta{font-size:80%;margin:5px 0 0}#buddypress .item-body{margin:20px 0}#buddypress span.activity{display:inline-block;font-size:small;opacity:.8;padding:0}#buddypress span.user-nicename{color:#767676;display:inline-block;font-size:120%;font-weight:700}#buddypress div#message p,#sitewide-notice p{font-weight:400;margin-top:3px;text-decoration:none;background-color:#ffd;border:1px solid #cb2;color:#440}#buddypress #item-header:after{clear:both;content:"";display:table}#buddypress div#item-header div#item-header-content{float:left;margin-left:0}#buddypress div#item-header h2{line-height:120%;margin:0 0 15px}#buddypress div#item-header h2 a{color:#767676;text-decoration:none}#buddypress div#item-header img.avatar{float:left;margin:0 15px 19px 0}#buddypress div#item-header h2{margin-bottom:5px}#buddypress div#item-header h2 span.highlight{font-size:60%;font-weight:400;line-height:170%;vertical-align:middle;display:inline-block}#buddypress div#item-header ul h5,#buddypress div#item-header ul hr,#buddypress div#item-header ul span,body.no-js #buddypress div#item-header .js-self-profile-button{display:none}#buddypress div#item-header h2 span.highlight span{background:#a1dcfa;color:#fff;cursor:pointer;font-weight:700;font-size:80%;margin-bottom:2px;padding:1px 4px;position:relative;right:-2px;top:-2px;vertical-align:middle}#buddypress div#item-header div#item-meta{font-size:80%;color:#767676;overflow:hidden;margin:15px 0 5px;padding-bottom:10px}#buddypress div#item-header div#item-actions{float:right;margin:0 0 15px 15px;text-align:right;width:20%}#buddypress div#item-header div#item-actions h3{margin:0 0 5px}#buddypress div#item-header ul{margin-bottom:15px;overflow:hidden}#buddypress div#item-header ul li{float:right;list-style:none}#buddypress div#item-header ul img.avatar,#buddypress div#item-header ul.avatars img.avatar{height:30px;margin:2px;width:30px}#buddypress div#item-header a.button,#buddypress div#item-header div.generic-button{float:left;margin:10px 10px 0 0}#buddypress div#item-header div#message.info{line-height:80%}#buddypress ul.item-list{border-top:1px solid #eaeaea;width:100%;list-style:none;clear:both;margin:0;padding:0}body.activity-permalink #buddypress ul.item-list,body.activity-permalink #buddypress ul.item-list li.activity-item{border:none}#buddypress ul.item-list li{border-bottom:1px solid #eaeaea;padding:15px 0;margin:0;position:relative;list-style:none}#buddypress ul.single-line li{border:none}#buddypress ul.item-list li img.avatar{float:left;margin:0 10px 0 0}#buddypress ul.item-list li div.item-title,#buddypress ul.item-list li h4{font-weight:400;font-size:90%;margin:0;width:75%}#buddypress ul.item-list li div.item-title span{color:#767676;font-size:80%}#buddypress ul.item-list li div.item-desc{color:#767676;font-size:80%;margin:10px 0 0 60px;width:50%}#buddypress ul.item-list li.group-no-avatar div.item-desc{margin-left:0}#buddypress ul.item-list li div.action{position:absolute;top:15px;right:0;text-align:right}#buddypress ul.item-list li div.meta{color:#767676;font-size:80%;margin-top:10px}#buddypress ul.item-list li h5 span.small{float:right;font-size:80%;font-weight:400}#buddypress div.item-list-tabs{background:0 0;clear:left;overflow:hidden}#buddypress div.item-list-tabs ul{margin:0;padding:0}#buddypress div.item-list-tabs ul li{float:left;margin:0;list-style:none}#buddypress div.item-list-tabs#subnav ul li{margin-top:0}#buddypress div.item-list-tabs ul li.last{float:right;margin:7px 0 0}#buddypress div.item-list-tabs#subnav ul li.last{margin-top:4px}#buddypress div.item-list-tabs ul li.last select{max-width:185px}#buddypress div.item-list-tabs ul li a,#buddypress div.item-list-tabs ul li span{display:block;padding:5px 10px;text-decoration:none}#buddypress div.item-list-tabs ul li a span{background:#eee;border-radius:50%;border:1px solid #ccc;color:#6c6c6c;display:inline;font-size:70%;margin-left:2px;padding:3px 6px;text-align:center;vertical-align:middle}#buddypress div.item-list-tabs ul li.current a,#buddypress div.item-list-tabs ul li.selected a{background-color:#eee;color:#555;opacity:.8;font-weight:700}#buddypress div.item-list-tabs ul li a:hover span,#buddypress div.item-list-tabs ul li.current a span,#buddypress div.item-list-tabs ul li.selected a span{background-color:#eee}#buddypress div.item-list-tabs ul li.current a span,#buddypress div.item-list-tabs ul li.selected a span{background-color:#fff}#buddypress div#item-nav ul li.loading a{background-position:88% 50%}#buddypress div.item-list-tabs#object-nav{margin-top:0}#buddypress div.item-list-tabs#subnav{background:0 0;margin:10px 0;overflow:hidden}#buddypress #admins-list li,#buddypress #members-list li,#buddypress #mods-list li{overflow:auto;list-style:none}#buddypress div#message-thread div.message-metadata,.widget.buddypress div.avatar-block{overflow:hidden}#buddypress #item-buttons:empty{display:none}#buddypress #cover-image-container{position:relative;z-index:0}#buddypress #header-cover-image{background-color:#c5c5c5;background-position:center top;background-repeat:no-repeat;background-size:cover;border:0;display:block;left:0;margin:0;padding:0;position:absolute;top:0;width:100%;z-index:1}#buddypress #item-header-cover-image{padding:0 1em;position:relative;z-index:2}#buddypress table#message-threads tr.unread td{background:#fff9db;border-top:1px solid #ffe8c4;border-bottom:1px solid #ffe8c4;font-weight:700}#buddypress table#message-threads tr.unread td .activity,#buddypress table#message-threads tr.unread td .thread-excerpt,#buddypress table#message-threads tr.unread td.thread-options{font-weight:400}#buddypress li span.unread-count,#buddypress tr.unread span.unread-count{background:#d00;color:#fff;font-weight:700;padding:2px 8px}#buddypress div.item-list-tabs ul li a span.unread-count{padding:1px 6px;color:#fff}#buddypress div#message-thread div.message-box{margin:0;padding:15px}#buddypress div#message-thread div.alt{background:#f4f4f4}#buddypress div#message-thread p#message-recipients{margin:10px 0 20px}#buddypress div#message-thread img.avatar{float:left;margin:0 10px 0 0;vertical-align:middle}#buddypress div#message-thread strong{font-size:100%;margin:0}#buddypress div#message-thread strong a{text-decoration:none}#buddypress div#message-thread strong span.activity{margin-top:4px}#buddypress div#message-thread div.message-content{margin-left:45px}#buddypress div#message-thread div.message-options{text-align:right}#buddypress #message-threads img.avatar{max-width:none}#buddypress div.message-search{float:right;margin:0 20px}.message-metadata{position:relative}.message-star-actions{position:absolute;right:0;top:0}#buddypress a.message-action-star,#buddypress a.message-action-unstar{border-bottom:0;text-decoration:none;outline:0}a.message-action-star{opacity:.7}a.message-action-star:hover{opacity:1}.message-action-star span.icon:before,.message-action-unstar span.icon:before{font-family:dashicons;font-size:18px}.message-action-star span.icon:before{color:#767676;content:"\f154"}.message-action-unstar span.icon:before{color:#fcdd77;content:"\f155"}#buddypress div.profile h4{margin-bottom:auto;margin-top:15px}#buddypress #profile-edit-form ul.button-nav{margin-top:15px}body.no-js #buddypress .field-visibility-settings-close,body.no-js #buddypress .field-visibility-settings-toggle{display:none}#buddypress .field-visibility-settings{display:none;margin-top:10px}body.no-js #buddypress .field-visibility-settings{display:block}#buddypress .current-visibility-level{font-weight:700;font-style:normal}#buddypress .field-visibility-settings,#buddypress .field-visibility-settings-notoggle,#buddypress .field-visibility-settings-toggle{color:#767676}#buddypress .field-visibility-settings a,#buddypress .field-visibility-settings-toggle a{font-size:80%}body.register #buddypress div.page ul{list-style:none}#buddypress .standard-form .field-visibility-settings label{margin:0;font-weight:400}#buddypress .field-visibility-settings legend,#buddypress .field-visibility-settings-toggle{font-style:italic}#buddypress .field-visibility-settings .radio{list-style:none;margin-bottom:0}#buddypress .field-visibility select{margin:0}#buddypress .wp-editor-container{border:1px solid #dedede}#buddypress .html-active button.switch-html,#buddypress .tmce-active button.switch-tmce{border-bottom-color:transparent;border-bottom-left-radius:0;border-bottom-right-radius:0;background:#f5f5f5}#buddypress .standard-form .wp-editor-container textarea{width:100%;padding-top:0;padding-bottom:0}.widget.buddypress div.item-avatar img.avatar{float:left;margin:0 10px 15px 0}.widget.buddypress span.activity{display:inline-block;font-size:small;opacity:.8;padding:0}.widget.buddypress div.item-options{font-size:90%;margin:0 0 1em;padding:1em 0}.widget.buddypress div.item{margin:0 0 1em}.widget.buddypress div.item-content,.widget.buddypress div.item-meta{font-size:11px;margin-left:50px}.widget.buddypress ul.item-list img.avatar{height:40px;margin-right:10px;width:40px}.widget.buddypress div.item-avatar img{height:40px;margin:1px;width:40px}.widget.buddypress #bp-login-widget-form label{display:block;margin:1rem 0 .5rem}.widget.buddypress #bp-login-widget-form #bp-login-widget-submit{margin-right:10px}.widget.buddypress .bp-login-widget-user-avatar{float:left}.bp-login-widget-user-avatar img.avatar{height:40px;width:40px}.widget.buddypress .bp-login-widget-user-links>div{padding-left:60px;margin-bottom:.5rem}.widget.buddypress .bp-login-widget-user-links>div.bp-login-widget-user-link a{font-weight:700}.widget.buddypress #friends-list,.widget.buddypress #groups-list,.widget.buddypress #members-list{margin-left:0;padding-left:0}.widget.buddypress #friends-list li,.widget.buddypress #groups-list li,.widget.buddypress #members-list li{clear:both;list-style-type:none}@media only screen and (max-width:480px){#buddypress div.dir-search{float:right;margin-top:-50px;text-align:right}#buddypress div.dir-search input[type=text]{margin-bottom:1em;width:50%}a.bp-title-button{margin-left:10px}#buddypress form.standard-form .main-column div.action{position:relative;margin-bottom:1em}#buddypress form.standard-form .main-column ul#friend-list h4{width:100%}}@media only screen and (max-width:320px){#buddypress div.dir-search,#buddypress ul.item-list li div.action{margin-top:0;text-align:left;clear:left;float:left}#buddypress li#groups-order-select{clear:left;float:left}#buddypress ul.item-list li div.action{margin-left:70px;position:relative;top:0;right:0}#buddypress ul.item-list li div.item-desc{clear:left;float:left;margin:10px 0 0;width:auto}#buddypress li div.item{margin-left:70px;width:auto}#buddypress ul.item-list li div.meta{margin-top:0}#buddypress .item-desc p{margin:0 0 10px}#buddypress div.pagination .pag-count{margin-left:0}}@media only screen and (max-width:240px){#buddypress div.dir-search{float:left;margin:0}#buddypress div.dir-search input[type=text]{width:50%}#buddypress li#groups-order-select{float:left}#buddypress ul.item-list li img.avatar{width:30px;height:auto}#buddypress li div.item,#buddypress ul.item-list li div.action{margin-left:45px}h1 a.bp-title-button{clear:left;float:left;margin:10px 0 20px}}

/* jquery-ui-aristo.min.css */

/* 1 */ .ui-front{z-index:100}.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}* html .ui-helper-clearfix{height:1%}.ui-helper-clearfix{display:block}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-widget{font-family:Arial,sans-serif;font-size:1.1em}.ui-widget .ui-widget{font-size:1em}.ui-widget button,.ui-widget input,.ui-widget select,.ui-widget textarea{font-family:Arial,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #B6B6B6;background:#fff;color:#4F4F4F}.ui-widget-content a{color:#4F4F4F}.ui-widget-header{border:1px solid #B6B6B6;color:#4F4F4F;font-weight:700;background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/bg_fallback.png) repeat-x #ededed;background:-moz-linear-gradient(top,#ededed 0,#c4c4c4 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ededed),color-stop(100%,#c4c4c4));background:-webkit-linear-gradient(top,#ededed 0,#c4c4c4 100%);background:-o-linear-gradient(top,#ededed 0,#c4c4c4 100%);background:-ms-linear-gradient(top,#ededed 0,#c4c4c4 100%);background:linear-gradient(top,#ededed 0,#c4c4c4 100%)}.ui-widget-header a{color:#4F4F4F}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #B6B6B6;font-weight:400;color:#4F4F4F;background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/bg_fallback.png) repeat-x #ededed;background:-moz-linear-gradient(top,#ededed 0,#c4c4c4 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ededed),color-stop(100%,#c4c4c4));background:-webkit-linear-gradient(top,#ededed 0,#c4c4c4 100%);background:-o-linear-gradient(top,#ededed 0,#c4c4c4 100%);background:-ms-linear-gradient(top,#ededed 0,#c4c4c4 100%);background:linear-gradient(top,#ededed 0,#c4c4c4 100%);-webkit-box-shadow:0 1px 0 rgba(255,255,255,.6) inset;-moz-box-shadow:0 1px 0 rgba(255,255,255,.6) inset;box-shadow:0 1px 0 rgba(255,255,255,.6) inset}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#4F4F4F;text-decoration:none}.ui-state-focus,.ui-state-hover,.ui-widget-content .ui-state-focus,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-focus,.ui-widget-header .ui-state-hover{border:1px solid #9D9D9D;font-weight:400;color:#313131}.ui-state-hover a,.ui-state-hover a:hover{color:#313131;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{outline:0;color:#1c4257;border:1px solid #7096ab;background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/bg_fallback.png) 0 -50px repeat-x #ededed;background:-moz-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#b9e0f5),color-stop(100%,#92bdd6));background:-webkit-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:-o-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:-ms-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:linear-gradient(top,#b9e0f5 0,#92bdd6 100%);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#313131;text-decoration:none}.ui-widget :active{outline:0}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #d2dbf4;background:#f4f8fd;color:#0d2054;-moz-border-radius:0!important;-webkit-border-radius:0!important;border-radius:0!important}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #e2d0d0;background:#fcf0f0;color:#280b0b;-moz-border-radius:0!important;-webkit-border-radius:0!important;border-radius:0!important}.ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error a,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error a,.ui-widget-header .ui-state-error-text{color:#cd0a0a}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:700}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:400}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-icon{width:16px;height:16px;background-image:url(/wp-content/plugins/search-autocomplete/css/aristo/images/ui-icons_222222_256x240.png)}.ui-widget-content .ui-icon,.ui-widget-header .ui-icon{background-image:url(/wp-content/plugins/search-autocomplete/css/aristo/images/ui-icons_222222_256x240.png)}.ui-state-active .ui-icon,.ui-state-default .ui-icon,.ui-state-focus .ui-icon,.ui-state-highlight .ui-icon,.ui-state-hover .ui-icon{background-image:url(/wp-content/plugins/search-autocomplete/css/aristo/images/ui-icons_454545_256x240.png)}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/icon_sprite.png) -16px 0 no-repeat!important}.ui-state-error .ui-icon,.ui-state-highlight .ui-icon{margin-top:-1px}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/icon_sprite.png) no-repeat!important}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-off{background-position:-96px -144px}.ui-icon-radio-on{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-first,.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-tl{-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px}.ui-corner-tr{-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px}.ui-corner-bl{-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px}.ui-corner-br{-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px}.ui-corner-top{-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px}.ui-corner-bottom{-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px}.ui-corner-right{-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px}.ui-corner-left{-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px}.ui-corner-all{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.ui-widget-overlay{background:#262b33;opacity:.7;filter:Alpha(Opacity=70)}.ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#000;opacity:.3;filter:Alpha(Opacity=30);-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:.1px;z-index:999;display:block}.ui-resizable-autohide .ui-resizable-handle,.ui-resizable-disabled .ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted #000}.ui-accordion{width:100%}.ui-accordion .ui-accordion-header{cursor:pointer;position:relative;margin-top:1px;zoom:1}.ui-accordion .ui-accordion-content,.ui-accordion .ui-accordion-header{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.ui-accordion .ui-accordion-li-fix{display:inline}.ui-accordion .ui-accordion-header-active{border-bottom:0!important}.ui-accordion .ui-accordion-header a{display:block;font-size:12px;font-weight:700;padding:.5em .5em .5em .7em}.ui-accordion .ui-accordion-icons{padding-left:2.2em}.ui-accordion .ui-accordion-header .ui-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}.ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;margin-top:-2px;position:relative;top:1px;margin-bottom:2px;overflow:auto;display:none;zoom:1}.ui-accordion .ui-accordion-content-active{display:block}.ui-autocomplete{position:absolute;cursor:default;z-index:30;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-box-shadow:0 1px 5px rgba(0,0,0,.3);-webkit-box-shadow:0 1px 5px rgba(0,0,0,.3);box-shadow:0 1px 5px rgba(0,0,0,.3)}* html .ui-autocomplete{width:1px}.ui-menu{list-style:none;padding:2px;margin:0;display:block;float:left}.ui-menu .ui-menu{margin-top:-3px}.ui-menu .ui-menu-item{margin:0;padding:0;zoom:1;float:left;clear:left;width:100%}.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1}.ui-menu .ui-menu-item a.ui-state-active,.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-hover{font-weight:400;margin:-1px;background:#5f83b9;color:#FFF;text-shadow:0 1px 1px #234386;border-color:#466086;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.ui-button{display:inline-block;position:relative;padding:0;margin-right:.1em;text-decoration:none!important;cursor:pointer;text-align:center;zoom:1;overflow:visible;-webkit-user-select:none;-moz-user-select:none;user-select:none}.ui-button-icon-only{width:2.2em}button.ui-button-icon-only{width:2.4em}.ui-button-icons-only{width:3.4em}button.ui-button-icons-only{width:3.7em}.ui-button{-webkit-transition:all 250ms ease-in-out;-moz-transition:all 250ms ease-in-out;-o-transition:all 250ms ease-in-out;transition:all 250ms ease-in-out}.ui-button.ui-state-hover{-moz-box-shadow:0 0 8px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.8) inset;-webkit-box-shadow:0 0 8px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.8) inset;box-shadow:0 0 8px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.8) inset}.ui-button.ui-state-focus{outline:0;color:#1c4257;border-color:#7096ab;background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/bg_fallback.png) 0 -50px repeat-x #ededed;background:-moz-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#b9e0f5),color-stop(100%,#92bdd6));background:-webkit-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:-o-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:-ms-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:linear-gradient(top,#b9e0f5 0,#92bdd6 100%);-moz-box-shadow:0 0 8px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.8) inset;-webkit-box-shadow:0 0 8px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.8) inset;box-shadow:0 0 8px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.8) inset}.ui-button .ui-button-text{display:block;line-height:1.4;font-size:14px;font-weight:700;text-shadow:0 1px 0 rgba(255,255,255,.6)}.ui-button-text-only .ui-button-text{padding:.4em 1em}.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}.ui-widget-content input.ui-button,input.ui-button{font-size:14px;font-weight:700;text-shadow:0 1px 0 rgba(255,255,255,.6);padding:0 1em!important;height:33px}input.ui-button::-moz-focus-inner{border:0;padding:0}@media screen and (-webkit-min-device-pixel-ratio:0){input.ui-button{height:31px!important}}.ui-button-icon-only .ui-icon,.ui-button-icons-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon{position:absolute;top:50%;margin-top:-8px}.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px}.ui-button-icons-only .ui-button-icon-primary,.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary{left:.5em}.ui-button-icons-only .ui-button-icon-secondary,.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary{right:.5em}.ui-buttonset{margin-right:7px}.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}.ui-buttonset .ui-button.ui-state-active{color:#1c4257;border-color:#7096ab;background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/bg_fallback.png) 0 -50px repeat-x #ededed;background:-moz-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#b9e0f5),color-stop(100%,#92bdd6));background:-webkit-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:-o-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:-ms-linear-gradient(top,#b9e0f5 0,#92bdd6 100%);background:linear-gradient(top,#b9e0f5 0,#92bdd6 100%);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}button.ui-button::-moz-focus-inner{border:0;padding:0}.ui-dialog{position:absolute;padding:0;width:300px;overflow:hidden;-webkit-box-shadow:0 2px 12px rgba(0,0,0,.6);-moz-box-shadow:0 2px 12px rgba(0,0,0,.6);box-shadow:0 2px 12px rgba(0,0,0,.6)}.ui-dialog .ui-dialog-titlebar{padding:.7em 1em .6em;position:relative;border:none;border-bottom:1px solid #979797;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .2em 0;font-size:14px;text-shadow:0 1px 0 rgba(255,255,255,.5)}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.8em;top:55%;width:16px;margin:-10px 0 0;padding:0;height:16px;background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/icon_sprite.png) 0 -16px no-repeat;border:0;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important;-webkit-transition:none;-moz-transition:none;transition:none}.ui-dialog .ui-dialog-titlebar-close span{display:none}.ui-dialog .ui-dialog-titlebar-close:hover{background-position:-16px -16px}.ui-dialog .ui-dialog-titlebar-close:focus,.ui-dialog .ui-dialog-titlebar-close:hover{padding:0;border:0}.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:0 0;overflow:auto;zoom:1}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0;background-image:none;margin:.5em 0 0;padding:.3em 1em .5em .4em}.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px}.ui-draggable .ui-dialog-titlebar{cursor:move}.ui-slider{position:relative;text-align:left;background:#d7d7d7;z-index:1;-moz-box-shadow:0 1px 2px rgba(0,0,0,.5) inset;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.5) inset;box-shadow:0 1px 2px rgba(0,0,0,.5) inset}.ui-slider .ui-slider-handle{background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/slider_handles.png) 0 -23px no-repeat;position:absolute;z-index:2;width:23px;height:23px;cursor:default;border:none;outline:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.ui-slider .ui-state-active,.ui-slider .ui-state-hover{background-position:0 0}.ui-slider .ui-slider-range{background:#a3cae0;position:absolute;z-index:1;font-size:.7em;display:block;border:0;-moz-box-shadow:0 1px 2px rgba(17,35,45,.6) inset;-webkit-box-shadow:0 1px 2px rgba(17,35,45,.6) inset;box-shadow:0 1px 2px rgba(17,35,45,.6) inset}.ui-slider-horizontal{height:5px}.ui-slider-horizontal .ui-slider-handle{top:-8px;margin-left:-13px}.ui-slider-horizontal .ui-slider-range{top:0;height:100%}.ui-slider-horizontal .ui-slider-range-min{left:0}.ui-slider-horizontal .ui-slider-range-max{right:0}.ui-slider-vertical{width:5px;height:100px}.ui-slider-vertical .ui-slider-handle{left:-8px;margin-left:0;margin-bottom:-13px}.ui-slider-vertical .ui-slider-range{left:0;width:100%}.ui-slider-vertical .ui-slider-range-min{bottom:0}.ui-slider-vertical .ui-slider-range-max{top:0}.ui-tabs{position:relative;zoom:1;border:0;background:0 0}.ui-tabs .ui-tabs-nav{margin:0;padding:0;background:0 0;border-width:0 0 1px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:1px;margin:0 .2em 1px 0;border-bottom:0!important;padding:0;white-space:nowrap}.ui-tabs .ui-tabs-nav li a{float:left;padding:.5em 1em;text-decoration:none;font-size:12px;font-weight:700;text-shadow:0 1px 0 rgba(255,255,255,.5)}.ui-tabs .ui-tabs-nav li.ui-tabs-active,.ui-tabs .ui-tabs-nav li.ui-tabs-selected{margin-bottom:0;padding-bottom:1px;background:#fff;border-color:#B6B6B6}.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a,.ui-tabs .ui-tabs-nav li.ui-tabs-active a,.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{cursor:text;outline:0}.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer}.ui-tabs .ui-tabs-panel{display:block;border-width:0 1px 1px;padding:1em 1.4em;background:#FFF;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.ui-tabs .ui-tabs-hide{display:none!important}.ui-datepicker{width:17em;padding:0;display:none;border-color:#DDD;-moz-box-shadow:0 4px 8px rgba(0,0,0,.5);-webkit-box-shadow:0 4px 8px rgba(0,0,0,.5);box-shadow:0 4px 8px rgba(0,0,0,.5)}.ui-datepicker .ui-datepicker-header{position:relative;padding:.35em 0;border:none;border-bottom:1px solid #B6B6B6;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.ui-datepicker .ui-datepicker-next,.ui-datepicker .ui-datepicker-prev{position:absolute;top:6px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-next-hover,.ui-datepicker .ui-datepicker-prev-hover{border:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev span{background-position:0 -32px!important}.ui-datepicker .ui-datepicker-next span{background-position:-16px -32px!important}.ui-datepicker .ui-datepicker-prev-hover span{background-position:0 -48px!important}.ui-datepicker .ui-datepicker-next-hover span{background-position:-16px -48px!important}.ui-datepicker .ui-datepicker-next span,.ui-datepicker .ui-datepicker-prev span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px;background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/icon_sprite.png) no-repeat}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center;font-size:12px;text-shadow:0 1px 0 rgba(255,255,255,.6)}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month-year{width:100%}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:700;border:0}.ui-datepicker td{border:0;padding:1px}.ui-datepicker td a,.ui-datepicker td span{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker table .ui-state-highlight{border-color:#5F83B9}.ui-datepicker table .ui-state-hover{background:#5F83B9;color:#FFF;font-weight:700;text-shadow:0 1px 1px #234386;-webkit-box-shadow:0 0 0 rgba(255,255,255,.6) inset;-moz-box-shadow:0 0 0 rgba(255,255,255,.6) inset;box-shadow:0 0 0 rgba(255,255,255,.6) inset;border-color:#5F83B9}.ui-datepicker-calendar .ui-state-default{background:0 0;border-color:#FFF}.ui-datepicker-calendar .ui-state-active{background:#5F83B9;border-color:#5F83B9;color:#FFF;font-weight:700;text-shadow:0 1px 1px #234386}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker-cover{display:none;display:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px}.ui-progressbar{height:12px;text-align:left;background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/progress_bar.gif) 0 -14px repeat-x #FFF}.ui-progressbar .ui-progressbar-value{margin:-1px;height:100%;background:url(/wp-content/plugins/search-autocomplete/css/aristo/images/progress_bar.gif) repeat-x}.ui-form input:not([type=submit]):not([type=button]):not([type=checkbox]):not([type=radio]):not([type=file]):not([type=range]),.ui-form textarea{padding:3px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:1px solid #cecece;outline:0;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.2);-moz-box-shadow:0 1px 3px rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.2);box-shadow:0 1px 3px rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.2);-webkit-transition:all 250ms ease-in-out;-moz-transition:all 250ms ease-in-out;-o-transition:all 250ms ease-in-out;transition:all 250ms ease-in-out}.ui-form input:not([type=submit]):not([type=button]):not([type=checkbox]):not([type=radio]):not([type=file]):not([type=range]):hover,.ui-form textarea:hover{border:1px solid #bdbdbd;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.2) inset,0 1px 0 rgba(255,255,255,.2);-moz-box-shadow:0 1px 3px rgba(0,0,0,.2) inset,0 1px 0 rgba(255,255,255,.2);box-shadow:0 1px 3px rgba(0,0,0,.2) inset,0 1px 0 rgba(255,255,255,.2)}.ui-form input:not([type=submit]):not([type=button]):not([type=checkbox]):not([type=radio]):not([type=file]):not([type=range]):focus,.ui-form textarea:focus{border:1px solid #95bdd4;-webkit-box-shadow:0 2px 3px rgba(161,202,226,.5) inset,0 1px 0 rgba(255,255,255,.2);-moz-box-shadow:0 2px 3px rgba(161,202,226,.5) inset,0 1px 0 rgba(255,255,255,.2);box-shadow:0 2px 3px rgba(161,202,226,.5) inset,0 1px 0 rgba(255,255,255,.2)}.ui-spinner{position:relative;display:inline-block;overflow:hidden;padding:0;vertical-align:middle;border:0}.ui-spinner-input{border:none;background:0 0;color:inherit;padding:0;margin:0;vertical-align:middle}.ui-spinner-button{width:16px;height:50%;font-size:.5em;padding:0;margin:0;text-align:center;position:absolute;cursor:default;display:block;overflow:hidden;right:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.ui-spinner .ui-icon{position:absolute;margin-top:-8px;top:50%;left:0}.ui-spinner-up{top:0}.ui-spinner-down{bottom:0}.ui-spinner .ui-icon-triangle-1-s{background-position:-65px -16px}

/* sidebar-login.css */

/* 1  */ /* Basic styling for login widget
/* 2  *|    This styling aligns the gravtar left, the links right.*/
/* 3  */ .widget_wp_sidebarlogin .avatar_container, #sidebar-login .avatar_container {
/* 4  */ 	float:left;
/* 5  */ }
/* 6  */ .widget_wp_sidebarlogin ul {
/* 7  */ 	list-style: none outside !important;
/* 8  */ }
/* 9  */ .widget_wp_sidebarlogin .avatar_container img, #sidebar-login .avatar_container img {
/* 10 */ 	padding: 3px;
/* 11 */ 	border: 1px solid #ddd;
/* 12 */ 	-moz-border-radius: 4px;
/* 13 */ 	-webkit-border-radius: 4px;
/* 14 */ 	margin-right: 8px;
/* 15 */ 	margin-top: 5px;
/* 16 */ }
/* 17 */ .widget_wp_sidebarlogin hr {
/* 18 */ 	display: block;
/* 19 */ 	clear: both;
/* 20 */ 	border: 0;
/* 21 */ 	border-top: 1px solid #999;
/* 22 */ 	height: 1px;
/* 23 */ }
/* 24 */ .widget_wp_sidebarlogin ul.sidebar_login_links {
/* 25 */ 	margin-left: 0 !important;
/* 26 */ }
/* 27 */ .widget_wp_sidebarlogin .sidebar_login_error {
/* 28 */ 	color: #ae121e;
/* 29 */ 	background-color: #fbb1b7;
/* 30 */ 	border: 1px solid;
/* 31 */ 	margin: 1em 0;
/* 32 */ 	padding: 1em;
/* 33 */ 	font-size: 13px;
/* 34 */ }
/* 35 */ .widget_wp_sidebarlogin .login_error a {
/* 36 */ 	color: #ae121e;
/* 37 */ }
/* 38 */ .widget_wp_sidebarlogin form {
/* 39 */ 	margin: 1em 0;
/* 40 */ }
/* 41 */ .widget_wp_sidebarlogin form p {
/* 42 */ 	margin: .5em 0;
/* 43 */ }
/* 44 */ .widget_wp_sidebarlogin form .input {
/* 45 */ 	width: 100%;
/* 46 */ 	margin: 2px;
/* 47 */ 	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
/* 48 */     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
/* 49 */     box-sizing: border-box;         /* Opera/IE 8+ */
/* 50 */ }

/* verified.css */

/* 1  */ #buddypress span#bp-verified {
/* 2  */ 	width: 20px;
/* 3  */ 	height: 20px;
/* 4  */ 	display: block;
/* 5  */ 	position: absolute;
/* 6  */ 	top: 53px;
/* 7  */ 	left: 37px;
/* 8  */ }
/* 9  */ 
/* 10 */ #buddypress .activity-list li.mini span#bp-verified {
/* 11 */ 	width: 15px;
/* 12 */ 	height: 15px;
/* 13 */ 	top: 30px;
/* 14 */ 	left: 40px;
/* 15 */ }
/* 16 */ 
/* 17 */ #buddypress span#bp-verified img {
/* 18 */ 	width: 20px;
/* 19 */ 	box-shadow: none;
/* 20 */ }
/* 21 */ 
/* 22 */ div#item-header-avatar {
/* 23 */ 	position: relative;
/* 24 */ }
/* 25 */ 
/* 26 */ #buddypress span#bp-verified-header {
/* 27 */ 	width: 20px;
/* 28 */ 	height: 20px;
/* 29 */ 	display: block;
/* 30 */ 	position: absolute;
/* 31 */ 	top: 135px;
/* 32 */ 	left: 135px;
/* 33 */ }
/* 34 */ 
/* 35 */ #buddypress span#bp-verified-header img {
/* 36 */ 	box-shadow: none;
/* 37 */ }
/* 38 */ 
/* 39 */ #buddypress div.activity-comments div.acomment-avatar span#bp-verified {
/* 40 */ 	width: 15px;
/* 41 */ 	height: 15px;
/* 42 */ 	position: absolute;
/* 43 */ 	display: block;
/* 44 */ 	top: 26px;
/* 45 */ 	left: 16px;	
/* 46 */ }
/* 47 */ 
/* 48 */ #buddypress div.activity-comments div.acomment-avatar span#bp-verified img {
/* 49 */ 	width: 15px;
/* 50 */ 	height: 15px;	

/* verified.css */

/* 51 */ }
/* 52 */ 
/* 53 */ #buddypress #bp-verified-text {
/* 54 */ 	margin: 40px 0 0 0;
/* 55 */ }
