/* page css */
.hero-bg,
.hero-bg.parallax .parallax-bg {
  background-image: url("https://www.paypalobjects.com/webstatic/en_US/mktg/wright/buy_onwebsites/buy_onwebsites_hero_bg_1x.jpg");
}
.n1,
.n1.parallax .parallax-bg {
  background-image: url("https://www.paypalobjects.com/webstatic/en_US/mktg/wright/buy_onwebsites/buy_onwebsites_n1_1x.jpg");
}
.n2 {
  background-image: url("https://www.paypalobjects.com/webstatic/en_US/mktg/wright/buy_onwebsites/buy_onwebsites_n2_1x.jpg");
}
.n3 {
  background-image: url("https://www.paypalobjects.com/webstatic/en_US/mktg/wright/buy_onwebsites/buy_onwebsites_n3_1x.jpg");
}
.n4,
.n4.parallax .parallax-bg {
  background-image: url("https://www.paypalobjects.com/webstatic/en_US/mktg/wright/buy_onwebsites/buy_onwebsites_n4_1x.jpg");
}

