/* resources/css/partials.css */

/* PARTIALS FOR THE DEDICATED / DESKTOP CHANNEL */

/* ================== */
/*>PRIV8 BY BILLY ZEG<ONLY FOR FRIENDS> */

/*hero*/
.hero-bg .editorial {
    min-height: 530px;
}
.hero-bg .editorial-container {
    height: 530px;
    line-height: 530px;
}
.hero-bg.hero-pop-out {
    height: 42.85714285714286em;
    /* 600px/14 */
    line-height: 42.85714285714286em;
    /* 600px/14 */
}
.hero-bg.hero-pop-out .editorial-container {
    height: 42.85714285714286em;
    /* 600px/14 */
    line-height: 42.85714285714286em;
    /* 600px/14 */
}
.hero-bg.dark .editorial-container {
    height: 25.71428571428571em;/* 360px/14 */
    line-height: 25.71428571428571em;/* 360px/14 */
}
.hero-bg img {
    vertical-align: bottom;
}

/* ----- panel ------ */
.editorial {
    min-height: 37.85714285714286em;
}
.editorial-container {
    height: 37.85714285714286em;
    line-height: 37.85714285714286em;
}
/* COMMON styles */
/* Special style for marketing to add more space on the grid */
.four-panel .span3 {
    padding-right: 2%;
}
.hero-bg, .editorial {
    min-width: 71.71428571428571em;
}

/*LAYOUTS COLORS*/
/* creates a blue background with white text */
.lightContent {
    background-color: #333;
}
.lightContent,
.lightContent h1,
.lightContent h3, 
.lightContent h2, 
.lightContent h3, 
.lightContent h4,
.lightContent p,
.lightContent a {
    color: #fff;
}

/* resources/css/partials_dedicated_rtl.css */

/* Right-to-left PARTIALS FOR THE DEDICATED/DESKTOP CHANNEL */

/* hero hugger bar */
.rtl .hero-hugger .country-selector {
    float: right;
}
.rtl .button-menu .icon {
    text-indent: 999em;
}

/* editorials */
.rtl .contentLink:first-of-type {
    border-right: none;
    padding-right: 0;
}
.rtl .contentLink {
    border-right: 1px solid #ddd;
    border-left: 0;
    padding-left: 0;
    padding-right: 10px;
    margin: 0 0 0 6px;
}

/* steps */
html .rtl p.circle {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.rtl section.row-fluid .steps {
	float: right;
}

/* organized list */
.rtl ul.organizedList {
    padding-right: 0;
}

/* sticky nav */
.rtl #sticky-nav.row-fluid [class*="span"] {
    float: right;
    margin-right: 2%;
    margin-left: 0;
}
.rtl #sticky-nav.row-fluid [class*="span"]:first-child {
    margin-right: 0;
}

/* send-money header and page form */
.rtl .input-wrapper {
    text-align: right\9;
}
.rtl header #main-menu .subnav .form-inline .placeholder {
    text-align: right\9;
    right: 0 !important;
}

