ul.card_logos {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.card_visa, .card_mastercard, .card_amex, .card_discover, .card_diners, .card_jcb {
	display: inline-block;
	width: 58px;
	height: 40px;
	overflow: hidden;
	text-align: left;
	text-indent: -999px;
	background: url(../../../imghp/cards.png) 0 0 no-repeat;
}

.card_mastercard {
	background-position: -58px 0;
}

.card_amex {
	background-position: -116px 0;
}

.card_discover {
	background-position: -175px 0;
}

.card_jcb {
	background-position: -233px 0;
}

.card_diners {
	background-position: -292px 0;
}

.is_visa li, .is_mastercard li, .is_amex li, .is_discover li, .is_diners li, .is_jcb li, .is_nothing li {
	opacity: .2;
}

.is_visa li.card_visa, .is_mastercard li.card_mastercard, .is_amex li.card_amex, .is_discover li.card_discover, .is_diners li.card_diners, .is_jcb li.card_jcb {
	opacity: 1;
}