ul.card_logos1 {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.card_visa1, .card_mastercard1, .card_amex1, .card_discover1, .card_diners1, .card_jcb1 {
	display: inline-block;
	width: 58px;
	height: 40px;
	overflow: hidden;
	text-align: left;
	text-indent: -999px;
	background: url(../../../imghp/cards.png) 0 0 no-repeat;
}

.card_mastercard1 {
	background-position: -58px 0;
}

.card_amex1 {
	background-position: -116px 0;
}

.card_discover1 {
	background-position: -175px 0;
}

.card_jcb1 {
	background-position: -233px 0;
}

.card_diners1 {
	background-position: -292px 0;
}

.is_visa1 li, .is_mastercard1 li, .is_amex1 li, .is_discover1 li, .is_diners1 li, .is_jcb1 li, .is_nothing1 li {
	opacity: .2;
}

.is_visa1 li.card_visa1, .is_mastercard1 li.card_mastercard1, .is_amex1 li.card_amex1, .is_discover1 li.card_discover1, .is_diners1 li.card_diners1, .is_jcb1 li.card_jcb1 {
	opacity: 1;
}