header.mainHeader {
  min-height: 72px;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}
user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
  display: block;
}
Inherited from 
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #686159;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}
header.mainHeader .headerContainer {
  width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  overflow: auto;
}
user agent stylesheetdiv {
  display: block;
}
Inherited from 
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #686159;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}
.grid12 {
  margin: 0 1.041667%;
}
user agent stylesheetdiv {
  display: block;
}
Inherited from 
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #686159;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}
header.mainHeader .logo {
  width: 124px;
  height: 29px;
  margin: 21px 0;
  display: block;
  float: left;
  background: url(../../../imghp/ppcom.svg);
  background-size: 124px 29px;
}
a:link, a:visited, a:hover, a:focus {
  color: #0666b3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-decoration: none;
}
a:link, a:visited, a:hover, a:focus {
  color: #0666b3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-decoration: none;
}
user agent stylesheeta:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}
Inherited from 
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #686159;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}
header.mainHeader .logoutBtn, header.mainHeader .loginBtn {
  margin-top: 21px;
  float: right;
}
user agent stylesheetdiv {
  display: block;
}
Inherited from 
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #686159;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}
header.mainHeader .logoutBtn span, header.mainHeader .loginBtn span {
  margin: 0 5px;
}
header.mainHeader .securityLock {
  padding-left: 20px;
  padding-top: 2px;
  background-repeat: no-repeat;
  background-position: 0 37%;
  font-size: 1em;
  color: #666;
  background-size: 34px;
  font-family: Arial,Helvetica,sans-serif;
}
header.mainHeader .securityLock {
  background-image: url(../../../imghp/sprites_onboarding.png);
  background-repeat: no-repeat;
}
Inherited from 
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #686159;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}