#input_container {

}
#input {

    padding-left: 30px;
}
#input_img {
    position:absolute;
    bottom:-8px;
    left:310px;
}

#input_container1 {

}
#input1 {

    padding-left: 30px;
}
#input_img1 {
    position:absolute;
    bottom:90px;
    left:310px;
}

#input_container2 {

}
#input2 {

    padding-left: 30px;
}
#input_img2 {
    position:absolute;
    bottom:-58px;
    left:280px;
}